<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	th:lang="${#locale.language}">
<head>
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">[[#{title.main}]]</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no,address=no,email=no">
<script>
	window.onunload = function(event) {
	};
	window.onpageshow = function(event) {
		if (event.persisted) {
			window.location.reload();
		}
	};
</script>
<link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
<link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.flatly.css}">
<link rel="stylesheet" th:href="@{/css/site.css}">
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
</head>
<body layout:fragment="body">

</body>
</html>