<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>account</title>
<script>
	var mdlTransfer = 0;
	$(function() {
		$('#mdlTransfer').on('hide.bs.modal', function(e) {
			if (mdlTransfer == 1) {
				mdlTransfer = 0;
				$('#fomTransfer').submit();
			}
		});

		$('#fomTransfer').submit(function(event) {
			if (!$(this).get(0).checkValidity()) {
				event.preventDefault();
				event.stopPropagation();
				$(this).addClass('was-validated');
			} else {
				$('#mdlWaiting').modal('show');
			}
		});
	});
</script>
</head>
<body layout:fragment="body" class="pt-header">
	<header layout:insert="~{layout/parts/header::user(1)}"
		class="fixed-top bg-header"></header>
	<th:block layout:replace="~{layout/parts/dialog::logout}" />

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div class="container bg-main pb-3">
		<form class="mw-content mx-auto" id="fomTransfer" novalidate
			th:action="@{/user/transfer}" th:object="${transferForm}"
			method="post">
			<th:block layout:replace="~{layout/parts/alert::error}" />
			<th:block layout:replace="~{layout/parts/alert::info}" />
			<div class="mt-3 d-flex justify-content-between">
				<input type="hidden" id="amount" name="amount" th:value="${balance}" />
				<h2 class="mb-0">残高</h2>
				<h2 class="mb-0"
					th:text="|${#numbers.formatInteger(balance,1,'COMMA')}円|"></h2>
			</div>
			<hr class="mb-0">
			<div class="mb-3 text-right">
				<small class="form-text text-muted">振込手数料に1,000円が掛かります</small>
			</div>
			<div class="form-group row">
				<label for="bank" class="col-sm-4 col-form-label text-sm-right">金融機関名</label>
				<div class="col-sm-8">
					<input type="text" id="bank" name="bank" class="form-control"
						th:value="*{bank}" placeholder="" required />
					<div class="invalid-feedback">bank error</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="branch" class="col-sm-4 col-form-label text-sm-right">支店名</label>
				<div class="col-sm-8">
					<input type="text" id="branch" name="branch" class="form-control"
						th:value="*{branch}" placeholder="" required />
					<div class="invalid-feedback">branch error</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="actype" class="col-sm-4 col-form-label text-sm-right">口座種類</label>
				<div class="col-sm-8 d-flex align-items-center">
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="actype1" name="actype" value="1"
							class="custom-control-input" th:checked="*{actype} == 1">
						<label class="custom-control-label" for="actype1">普通預金</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="actype2" name="actype" value="2"
							class="custom-control-input" th:checked="*{actype} == 2">
						<label class="custom-control-label" for="actype2">当座預金</label>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="acnumber" class="col-sm-4 col-form-label text-sm-right">口座番号</label>
				<div class="col-sm-8">
					<input type="text" id="acnumber" name="acnumber"
						th:value="*{acnumber}" class="form-control num-only" maxlength="8"
						placeholder="" required />
					<div class="invalid-feedback">acnumber error</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="acname" class="col-sm-4 col-form-label text-sm-right">口座名義</label>
				<div class="col-sm-8">
					<input type="text" id="acname" name="acname" class="form-control"
						th:value="*{acname}" placeholder="" required />
					<div class="invalid-feedback">acname error</div>
				</div>
			</div>
			<div class="form-group row mb-0">
				<div class="offset-sm-4 col-sm-8">
					<button id="btnTransfer" type="button"
						th:disabled="${balance}<${@applicationProperties.getProperty('cost.transfer.amount')}"
						class="btn btn-primary btn-block-xs" style="width: 150px;"
						data-toggle="modal" data-target="#mdlTransfer">振込申請</button>
				</div>
			</div>
		</form>
	</div>

	<div id="mdlTransfer" class="modal fade" tabindex="-1" role="dialog"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">確認</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						入金まで２、３日掛かる場合があります。 <br>振込申請してよろしいでしょうか。
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">いいえ</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal"
						onclick="mdlTransfer=1;">はい</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>