<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>[[#{title.user}]]</title>
<link rel="stylesheet" th:href="@{/css/imageview.css}">
<script th:src="@{/js/jquery.lazyload.min.js}"></script>
<script th:src="@{/js/jquery.imageview.js}"></script>
<style>
.input-group.is-invalid .input-group-text, .input-group.is-invalid .form-control
	{
	border-color: #E74C3C;
}

.rounded-bottom-right {
	border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom-left {
	border-bottom-left-radius: 0.25rem !important;
}
</style>
<script>
	var target = 0;
	var showWait = false;
	$(function() {
		$('img.lazyload').lazyload();
		$('#imgView').imageview();

		$('#mdlPrice').on('shown.bs.modal', function() {
			$('#money').trigger('focus');
		});
		$('#money').focus(function() {
			$(this).select();
		});
		$('#mdlPriceBtn')
				.click(
						function() {
							var money = $('#money').val();
							$('#grpMoney').removeClass('is-invalid');
							$('#grpMoney').next('.invalid-feedback').remove();
							if (!/^[0-9]+$/.test(money)
									|| money < Number('[(${@applicationProperties.getProperty("photo.price.min")})]')
									|| money > Number('[(${@applicationProperties.getProperty("photo.price.max")})]')) {
								$('#grpMoney').addClass('is-invalid');
								$('#grpMoney')
										.after(
												$(
														'<div/>',
														{
															'class' : 'invalid-feedback d-block',
															text : '[(${#messages.msg("validation.photo.price", #numbers.formatInteger(@applicationProperties.getProperty("photo.price.min"),1,"COMMA"), #numbers.formatInteger(@applicationProperties.getProperty("photo.price.max"),1,"COMMA"))})]'
														}));
								return;
							}

							$('#price').val(money);
							showWait = true;
							$('#mdlPrice').modal('hide');
						});
		$('#mdlPrice').on('hidden.bs.modal', function() {
			$('#grpMoney').removeClass('is-invalid');
			$('#grpMoney').next('.invalid-feedback').remove();
			if (showWait) {
				showWait = false;
				$.ajax({
					url : '[(@{/user/price})]',
					method : 'POST',
					cache : false,
					data : $('#fomSubmit').serialize(),
					beforeSend : function() {
						$('#mdlWaiting').modal('show');
					}
				}).done(function(data, textStatus, jqXHR) {
					if (target > 0) {
						$('#bagPrice' + target).text(data);
					} else {
						location.reload();
					}
				}).fail(function(jqXHR, textStatus, errorThrown) {
					if (textStatus == 'error') {
						location.href = '[(@{/system/error})]';
					}
				}).always(function() {
					$('#mdlWaiting').modal('hide');
				});
			}
		});

		$('#mdlDelete').on('hidden.bs.modal', function() {
			if (showWait) {
				showWait = false;
				$.ajax({
					url : '[(@{/user/delete})]',
					method : 'POST',
					cache : false,
					data : $('#fomSubmit').serialize(),
					beforeSend : function() {
						$('#mdlWaiting').modal('show');
					}
				}).done(function(data, textStatus, jqXHR) {
					$('#photo' + target).remove();
					$('#imgView').data('imageview').reload();
					if ($('div.card').length == 0) {
						$('#btnBulk').prop('disabled', true);
					}
				}).fail(function(jqXHR, textStatus, errorThrown) {
					if (textStatus == 'error') {
						location.href = '[(@{/system/error})]';
					}
				}).always(function() {
					$('#mdlWaiting').modal('hide');
				});
			}
		});
	});
</script>
</head>
<body layout:fragment="body" class="pt-header">
	<header layout:insert="~{layout/parts/header::user(-1)}"
		class="fixed-top bg-header"></header>
	<th:block layout:replace="~{layout/parts/dialog::logout}" />

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div class="container-fluid bg-main">
		<div class="pt-3 d-flex justify-content-between">
			<button id="btnBulk" type="button" class="btn btn-warning"
				th:disabled="${#lists.isEmpty(photos)}"
				th:onclick="|target=0;$('#thumbnail').val('*');$('#money').val(${@applicationProperties.getProperty('photo.price.default')});|"
				data-toggle="modal" data-target="#mdlPrice">
				<i class="fas fa-cogs"></i>&nbsp;[[#{label.folder.bulk}]]
			</button>
			<a class="btn btn-info" th:href="@{|/user/share/${folder}|}"
				role="button"><i class="fas fa-share-alt"></i>&nbsp;<th:block
					th:text="${shared}?#{label.folder.info}:#{label.folder.share}"></th:block></a>
		</div>
		<hr class="mb-0">
		<div id="imgView" class="row pr-3 pb-3">
			<div th:each="form,stat : ${photos}" th:object="${form}"
				th:id="|photo${stat.count}|"
				class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 pl-3 pr-0 pt-3">
				<div class="card rounded-0 rounded-top border-bottom-0">
					<div class="card-body p-0 text-center photo">
						<a
							th:href="@{|/upload/*{username}/*{folder}/preview_*{thumbnail}|}"
							th:data-index="${stat.count}"> <img
							class="lazyload img-fluid mh-100" th:src="@{/images/loading.gif}"
							th:data-original="@{|/upload/*{username}/*{folder}/thumbnail_*{thumbnail}|}"
							alt="">
						</a>
						<div th:id="|bagPrice${stat.count}|"
							class="badge badge-warning badge-price"
							th:text="|#{money.mark}*{#numbers.formatInteger(price,1,'COMMA')}|"></div>
					</div>
				</div>
				<div class="w-100 btn-group btn-group-sm" role="group">
					<button type="button"
						class="btn btn-warning w-100 rounded-0 rounded-bottom-left"
						th:onclick="|target=${stat.count};$('#thumbnail').val('*{thumbnail}');$('#money').val($('#bagPrice${stat.count}').text().replace('#{money.mark}','').replace(/,/g,''));|"
						data-toggle="modal" data-target="#mdlPrice">[[#{label.folder.price}]]</button>
					<button type="button"
						class="btn btn-danger w-100 rounded-0 rounded-bottom-right"
						th:onclick="|target=${stat.count};$('#thumbnail').val('*{thumbnail}');|"
						data-toggle="modal" data-target="#mdlDelete">[[#{label.folder.delete}]]</button>
				</div>
			</div>
		</div>
	</div>

	<button type="button" id="toTop"
		class="btn btn-primary rounded-circle nofocus">
		<i class="fas fa-angle-up fa-2x"></i>
	</button>

	<form id="fomSubmit" action="#">
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" /> <input type="hidden" id="folder"
			name="folder" th:value="${folder}" /> <input type="hidden"
			id="thumbnail" name="thumbnail" /> <input type="hidden" id="price"
			name="price" />
	</form>

	<div id="mdlPrice" class="modal fade" tabindex="-1" role="dialog"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">[[#{modal.price.header}]]</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="grpMoney" class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">[[#{money.label}]]</span>
						</div>
						<input type="number" id="money" pattern="[0-9]+"
							th:min="${@applicationProperties.getProperty('photo.price.min')}"
							th:max="${@applicationProperties.getProperty('photo.price.max')}"
							maxlength="6" class="form-control text-right num-only" />
						<div class="input-group-append">
							<span class="input-group-text">[[#{money.unit}]]</span>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button id="mdlPriceBtn" type="button" class="btn btn-primary">[[#{modal.button.ok}]]</button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">[[#{modal.button.cancel}]]</button>
				</div>
			</div>
		</div>
	</div>

	<div id="mdlDelete" class="modal fade" tabindex="-1" role="dialog"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">[[#{modal.delete.header}]]</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>[(#{modal.delete.message})]</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
						onclick="showWait=true;" data-dismiss="modal">[[#{modal.button.yes}]]</button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">[[#{modal.button.no}]]</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>