<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>user folder</title>
<script>
	var delTarget = 0;
	$(function() {
		$('#fomDelete').submit(function(event) {
			event.preventDefault();
			$('#mdlDelete').modal('hide');
			var target = $('#photo' + delTarget);
			$.ajax({
				url : '[(@{/user/delete})]',
				method : 'POST',
				cache : false,
				timeout : 10000,
				data : $('#fomDelete').serialize(),
				beforeSend : function() {
					$('#mdlWaiting').modal('show');
				}
			}).done(function(data, textStatus, jqXHR) {
				target.remove();
			}).fail(function(jqXHR, textStatus, errorThrown) {
				// do nothing
			}).always(function() {
				$('#mdlWaiting').modal('hide');
			});
		});
	});
</script>
</head>
<body layout:fragment="body" class="pt-header">
	<header layout:insert="~{layout/parts/navbar::user(-1)}"
		class="fixed-top bg-header"></header>
	<th:block layout:replace="~{layout/parts/dialog::logout}" />

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div class="container-fluid bg-main pt-3">

		<div class="row justify-content-between">
			<div class="col-6">
				<a class="btn btn-success" th:href="@{/user/home}" role="button"><i
					class="fas fa-arrow-left"></i><span>&nbsp;戻る</span></a>
			</div>
			<div class="col-6 text-right">
				<button type="button" class="btn btn-success">一括金額設定</button>
			</div>
		</div>

		<hr class="mb-0">

		<div class="row pr-3 pb-3">

			<div th:each="form,stat : ${photos}" th:object="${form}"
				th:id="|photo${stat.count}|"
				class="col-sm-6 col-md-4 col-lg-3 col-xl-2 pl-3 pr-0 pt-3">
				<div class="card img-thumbnail pb-0">
					<div
						class="card-body p-0 d-flex justify-content-center align-items-center"
						style="height: 200px">
						<img class="img-fluid" th:src="@{|/upload/*{link}|}"
							alt="thumbnail">
					</div>
					<div class="card-footer py-1 px-0 bg-white">
						<button type="button" class="btn btn-primary btn-sm float-left">金額</button>
						<button type="button" class="btn btn-danger btn-sm float-right"
							data-toggle="modal" data-target="#mdlDelete"
							th:onclick="|delTarget=${stat.count};$('#thumbnail').val('*{thumbnail}');|">削除</button>
					</div>
				</div>
			</div>

		</div>

		<form id="fomDelete" th:action="@{/user/delete}" method="post">
			<input type="hidden" id="folder" name="folder" th:value="${folder}" />
			<input type="hidden" id="thumbnail" name="thumbnail" />
			<div id="mdlDelete" class="modal fade" tabindex="-1" role="dialog"
				data-backdrop="static" data-keyboard="false">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">確認</h5>
							<button type="button" class="close" data-dismiss="modal">
								<span>&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>削除しますか。</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">いいえ</button>
							<button type="submit" class="btn btn-primary">はい</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>