<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>[[#{title.user}]]</title>
</head>
<body layout:fragment="body" class="pt-header"
	th:with="scale=((${#locale.language}=='ja')?0:2)">
	<header layout:insert="~{layout/parts/header::user(2)}"
		class="fixed-top bg-header"></header>
	<th:block layout:replace="~{layout/parts/dialog::logout}" />

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div class="container bg-main px-0">
		<div class="mw-content mx-auto pt-3 d-flex justify-content-between">
			<h2 class="mb-0 ml-3">[[#{header.account}]]</h2>
			<h2 class="mb-0 mr-3"
				th:text="|${#numbers.formatDecimal(balance,1,'COMMA',scale,'POINT')}#{money.unit}|"></h2>
		</div>
		<!--/*
		<div
			class="alert alert-info alert-dismissible fade show mw-content mx-auto mt-3 mb-0"
			role="alert">
			<div
				th:utext="${#messages.msg('info.history.limit', @applicationProperties.getProperty('transfer.history.months'))}"></div>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		*/-->
		<ul class="list-group mw-content mx-auto py-3">
			<li
				class="list-group-item rounded-0 border-left-0 border-right-0 px-0 py-2"
				th:each="form,stat : ${history}" th:object="${form}">
				<div class="float-left px-3">
					<div class="text-muted" th:text="*{transno}"></div>
					<div th:text="*{bank}"></div>
					<div th:text="*{branch}"></div>
					<th:block th:switch="*{actype}">
						<div th:case="1" th:text="|#{bank.account.type1}  *{acnumber}|"></div>
						<div th:case="2" th:text="|#{bank.account.type2}  *{acnumber}|"></div>
					</th:block>
					<div th:text="*{acname}"></div>
				</div>
				<div class="float-right pr-3 text-right">
					<div>
						<span class="badge" style="font-size: 80%;"
							th:classappend="*{done}?'badge-success':'badge-warning'"
							th:text="*{done}?#{label.transfer.done}:#{label.transfer.accept}"></span>
					</div>
					<p class="h5"
						th:text="|*{#numbers.formatInteger(amount,1,'COMMA')}#{money.unit}|"></p>
				</div>
			</li>
		</ul>
	</div>
	<button type="button" id="toTop"
		class="btn btn-primary rounded-circle nofocus">
		<i class="fas fa-angle-up fa-2x"></i>
	</button>
</body>
</html>