<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>user home</title>
<style>
label.custom-file-label::after {
	content: "[(#{input.file.button})]";
}

.list-group-flush .list-group-item:first-child {
	border-top: 0;
}
</style>
<script>
	var mdlClear = 0;
	function checkFolder(seq) {
		var unLocked = true;
		/*
		$.ajax({
			async : false,
			url : '[(@{/user/check})]',
			method : 'POST',
			headers : {
				'[(${_csrf.headerName})]' : '[(${_csrf.token})]'
			},
			cache : false,
			timeout : 10000,
			contentType : "application/json",
			data : JSON.stringify({
				folder : seq
			}),
			success : function(data) {
				if (data == 'true') {
					unLocked = false;
				}
			}
		});
		 */
		return unLocked;
	}

	$(function() {
		function resetFile(obj) {
			$(obj).val('');
			$(obj).next('label.custom-file-label').text(
					'[(#{input.file.content})]');
		}

		function checkFile(obj) {
			var size = 0;
			for (var i = 0; i < obj.files.length; i++) {
				size += obj.files[i].size;
				if (!/.+(\.zip|\.jpg|\.jpeg)$/.test(obj.files[i].name
						.toLowerCase()))
					return false;
			}

			if (size > Number('[(${@applicationProperties.getProperty("upload.file.size")})]'))
				return false;

			return true;
		}

		$(':file.custom-file-input').change(
				function() {
					var files = [];
					$.each($(this).get(0).files, function(idx, val) {
						files.push(val.name);
					});
					if (files.length == 0) {
						$(this).next('label.custom-file-label').text(
								'[(#{input.file.content})]');
					} else {
						$(this).next('label.custom-file-label').text(
								files.join(', '));
					}
				});

		$('form[data-type="upload"]').submit(
				function(event) {
					event.preventDefault();
					var form = $(this).get(0);
					var selFiles = $(form).find(':file').get(0);

					if (!window.FormData) {
						resetFile(selFiles);
						var errors = [ 'アップロードできない環境です' ];
						showAlertError(errors);
						return;
					}

					if (selFiles.files.length == 0) {
						resetFile(selFiles);
						var errors = [ '[(#{message.upload.none})]' ];
						showAlertError(errors);
						return;
					}

					if (!checkFile(selFiles)) {
						resetFile(selFiles);
						var errors = [ '[(#{message.upload.error})]' ];
						showAlertError(errors);
						return;
					}

					var ajaxReq = $.ajax({
						url : '[(@{/user/upload})]',
						method : 'POST',
						cache : false,
						data : new FormData(form),
						contentType : false,
						processData : false,
						dataType : 'json',
						beforeSend : function(xhr) {
							$('.progress-bar').text('');
							$('.progress-bar').css('width', '0%');
							$('.progress-bar').addClass('bg-success')
									.removeClass('bg-warning');
							$('#mdlUpload').modal('show');
						},
						xhr : function() {
							var xhr = $.ajaxSettings.xhr();
							xhr.upload.onprogress = function(e) {
								var perc = Math
										.round((e.loaded / e.total) * 100);
								$('.progress-bar').text(perc + '%');
								$('.progress-bar').css('width', perc + '%');
								if (perc == 100) {
									$('.progress-bar-title').text('処理中...');
									$('.progress-bar').text('');
									$('.progress-bar').addClass('bg-warning')
											.removeClass('bg-success');
								}
							};
							return xhr;
						}
					});
					ajaxReq.done(function(data) {
						// do nothing
					});
					ajaxReq.fail(function(jqXHR) {
						var errors = [];
						if (jqXHR.status == 400) {
							$.each(jqXHR.responseJSON.errors,
									function(idx, val) {
										errors.push(val);
									});
						} else {
							errors.push('[(#{message.upload.error})]');
						}
						showAlertError(errors);
					});
					ajaxReq.always(function() {
						resetFile(selFiles);
						$('#mdlUpload').modal('hide');
					});
				});

		$('#mdlClear').on('hide.bs.modal', function(e) {
			if (mdlClear == 1) {
				mdlClear = 0;
				if (checkFolder($('#folder').val())) {
					$('#mdlWaiting').modal('show');
					$('#fomClear').submit();
				}
			}
		});
	});
</script>
</head>
<body layout:fragment="body" class="pt-header">
	<header layout:insert="~{layout/parts/navbar::user(0)}"
		class="fixed-top bg-header"></header>
	<th:block layout:replace="~{layout/parts/dialog::logout}" />
	<th:block layout:replace="~{layout/parts/dialog::progress}" />

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div class="container bg-main">
		<th:block layout:replace="~{layout/parts/alert::error}" />

		<ul class="list-group list-group-flush mw-form mx-auto">
			<li class="list-group-item px-0 py-3"
				th:each="form,stat : ${folders}">
				<form data-type="upload" enctype="multipart/form-data"
					th:action="@{/user/upload}" method="post" th:object="${form}">
					<div class="form-group">
						<label th:for="${#ids.next('seq')}"
							th:text="*{name}?:|#{label.folder} *{seq}|"></label><span
							th:text="| (有効期限：*{expiredt})|"></span><input type="hidden"
							th:id="${#ids.seq('seq')}" name="seq" th:value="*{seq}" />
						<div class="custom-file">
							<input type="file" class="custom-file-input"
								th:disabled="*{shared}" th:id="${#ids.seq('files')}"
								name="files"
								accept=".zip,.jpg,.jpeg,image/jpeg,application/zip,application/x-zip-compressed"
								multiple required /> <label th:for="${#ids.prev('files')}"
								class="custom-file-label text-truncate"
								th:text="#{input.file.content}"></label>
						</div>
					</div>
					<div
						class="form-group btn-group d-flex mb-0"
						role="group">
						<button type="submit" class="btn btn-primary text-none w-100 rounded-sm"
							th:classappend="*{shared}?'btn-secondary'"
							th:disabled="*{shared}"
							th:onclick="|return checkFolder(*{seq});|">
							<i class="fas fa-upload"></i><span>&nbsp;アップロード</span>
						</button>
						<a class="btn btn-success text-none w-100 ml-sm-3 rounded-sm"
							th:onclick="|return checkFolder(*{seq});|"
							th:href="@{|/user/folder/*{seq}|}" role="button"> <i
							class="fas fa-yen-sign"></i><span>&nbsp;<th:block
									th:text="*{shared} ? '金額確認':'金額設定'">金額設定</th:block></span>
						</a> <a class="btn text-none w-100 ml-sm-3 rounded-sm"
							th:classappend="*{shared}?'btn-warning':'btn-secondary disabled'"
							th:href="@{|/user/sales/*{seq}|}" role="button"> <i
							class="fas fa-piggy-bank"></i><span>&nbsp;売上確認</span>
						</a>
						<button type="button" class="btn btn-danger text-none w-100 ml-sm-3 rounded-sm"
							data-toggle="modal" data-target="#mdlClear"
							th:onclick="|$('#folder').val(*{seq});|">
							<i class="fas fa-trash-alt"></i><span>&nbsp;初期化</span>
						</button>
					</div>
				</form>
			</li>
		</ul>
	</div>

	<form id="fomClear" th:action="@{/user/clear}" method="post">
		<input type="hidden" id="folder" name="folder" />
	</form>
	<div id="mdlClear" class="modal fade" tabindex="-1" role="dialog"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">確認</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>初期化しますか。</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">いいえ</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal"
						onclick="mdlClear=1;">はい</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>