<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>[[#{title.user}]]</title>
<style>
html {
	height: 100%;
}
</style>
</head>
<body layout:fragment="body"
	class="pt-header pb-footer d-flex align-items-center">
	<header layout:insert="~{layout/parts/header::user(-1)}"
		class="fixed-top bg-header"></header>
	<th:block layout:replace="~{layout/parts/dialog::logout}" />

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div class="container bg-main my-auto pb-5">
		<div class="mx-auto">
			<h4
				th:text="${#strings.isEmpty(qrcode.name)}?|#{default.folder.name}${#numbers.formatInteger(qrcode.seq,2)}|:${qrcode.name}"></h4>
			<hr>
			<div>
				<img id="qrcode" th:src="|data:image/png;base64,${qrcodeimg}|"
					alt="QRcdoe" />
			</div>
			<div>
				<span th:text="${qrcodeurl}"></span>
			</div>
			<div>
				[[#{label.login.url}]]<span th:text="${loginurl}"></span>
			</div>
			<div>
				[[#{label.signup.username}]]<span th:text="${qrcode.guest}"></span>
			</div>
			<div>
				[[#{label.signup.password}]]<span th:text="${qrcode.password}"></span>
			</div>
			<div th:if="${qrcode.plansdt}">
				[[#{label.share.plansdt}]]<span th:text="${qrcode.plansdt}"></span>
			</div>
			<div th:if="${qrcode.expiredt}">
				[[#{label.share.expiredt}]]<span th:text="${qrcode.expiredt}"></span>
			</div>
		</div>
	</div>
</body>
</html>