<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>share folder</title>
<script>
	var mdlShare = 0;
	$(function() {
		function createPassword(len) {
			var password = '';
			var string = '23456789abcdefghijkmnoMNPQRSTUVWXYZpqrstuvwxyzABCDEFGHIJKL';
			for (var i = 0; i < len; i++) {
				password += string.charAt(Math.floor(Math.random()
						* string.length));
			}
			return password;
		}

		$('#btnAuto').click(function() {
			var password = '';
			while (password = createPassword(8)) {
				if (/[a-zA-Z]+/.test(password) && /[0-9]+/.test(password)) {
					$('#password').val(password);
					break;
				}
			}
		});

		$('#fomShare').submit(function(event) {
			if (!$(this).get(0).checkValidity()) {
				event.preventDefault();
				event.stopPropagation();
			} else {
				$('#mdlWaiting').modal('show');
			}
			$(this).addClass('was-validated');
		});

		/*
		$('#btnShare').click(function(event) {
			if (!$('#password').get(0).checkValidity()) {
				$('#password').addClass('is-invalid');
				$('#password').focus();
			}
			event.preventDefault();
			event.stopPropagation();
		});
		 */

		$('#mdlShare').on('hide.bs.modal', function(e) {
			if (mdlShare == 1) {
				mdlShare = 0;
				$('#fomShare').submit();
			}
		});
	});
</script>
</head>
<body layout:fragment="body" class="pt-header d-flex align-items-center">
	<header layout:insert="~{layout/parts/navbar::user(-1)}"
		class="fixed-top bg-header"></header>
	<th:block layout:replace="~{layout/parts/dialog::logout}" />

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div class="container bg-main pb-5">
		<form id="fomShare" class="mw-form mx-auto pt-3" novalidate
			th:action="@{/user/share}" th:object="${folderForm}" method="post">
			<input type="hidden" th:field="*{seq}" />
			<h4 th:text="*{name}?:|#{label.folder} *{seq}|">フォルダ公開</h4>
			<hr>
			<div class="form-group row">
				<label for="guest" class="col-sm-4 col-form-label text-sm-right">ユーザー名</label>
				<div class="col-sm-8">
					<input type="text" th:field="*{guest}" class="form-control"
						readonly />
				</div>
			</div>
			<div class="form-group row">
				<label for="password" class="col-sm-4 col-form-label text-sm-right">パスワード</label>
				<div class="col-sm-8 input-group">
					<input type="text" th:field="*{password}" class="form-control"
						maxlength="16" required autofocus />
					<div class="input-group-append">
						<button type="button" id="btnAuto"
							class="btn btn-success rounded-right">自動生成</button>
					</div>
					<div class="invalid-feedback">パスワードを入力してください</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="expiredt" class="col-sm-4 col-form-label text-sm-right">公開期限</label>
				<div class="col-sm-8">
					<input type="date" th:field="*{expiredt}" class="form-control"
						th:min="${#dates.format(#dates.createToday(),'yyyy-MM-dd')}"
						max="9999-12-31" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required />
				</div>
			</div>
			<div class="form-group row">
				<div class="offset-sm-4 col-sm-8">
					<button type="button" id="btnShare"
						class="btn btn-primary btn-block-xs" style="width: 150px;"
						data-toggle="modal" data-target="#mdlShare">公開する</button>
				</div>
			</div>
		</form>
	</div>

	<div id="mdlShare" class="modal fade" tabindex="-1" role="dialog"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">確認</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						公開後の写真の追加・削除および金額変更はできなくなります。 <br> なお、金額未設定の写真は
						<mark>￥0円</mark>
						で販売されます。 <br> 公開してよろしいでしょうか。
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">いいえ</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal"
						onclick="mdlShare=1;">はい</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>