<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>[[#{title.about}]]</title>
</head>
<body layout:fragment="body" class="pt-header pb-footer">
	<header layout:insert="~{layout/parts/header::home(true, true)}"
		class="fixed-top bg-header"></header>
	<div class="container bg-main py-3">
		<h4>收费标准</h4>
		<hr>
		<p>交易额的10%将作为网站运营资金。</p>
		<br>
		<h4>支付方式</h4>
		<hr>
		<p>支持支付宝与微信支付。</p>
		<br>
		<h4>意见反馈</h4>
		<hr>
		<p>
			<a href="mailto:info@51izone.com">info@51izone.com</a>
		</p>
		<br>
		<h4>运营公司</h4>
		<hr>
		<p>
			<a href="http://www.cncsys.com.cn" target="_blank">共兴达信息技术有限公司</a>
		</p>
	</div>
	<button type="button" id="toTop"
		class="btn btn-primary rounded-circle nofocus">
		<i class="fas fa-angle-up fa-2x"></i>
	</button>
	<footer layout:replace="~{layout/parts/footer::footer}"></footer>
</body>
</html>