<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>terms</title>
</head>
<body layout:fragment="body" class="pt-header">
	<header layout:insert="~{layout/parts/header::home(true, true)}"
		class="fixed-top bg-header"></header>
	<div class="container bg-main">
		<div class="mw-content mx-auto text-center pt-5">
			<h1>terms page</h1>
		</div>
	</div>
	<div class="pb-footer"></div>
	<footer layout:replace="~{layout/parts/footer::footer}"></footer>
</body>
</html>