<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>[[#{title.terms}]]</title>
</head>
<body layout:fragment="body" class="pt-header pb-footer">
	<header layout:insert="~{layout/parts/header::home(true, true)}"
		class="fixed-top bg-header"></header>
	<div class="container bg-main py-3">
		<div class="mw-content mx-auto text-center">
			<h1>[[#{title.terms}]]</h1>
		</div>
	</div>
	<footer layout:replace="~{layout/parts/footer::footer}"></footer>
</body>
</html>