body {
	min-height: 100vh;
	height: 100%;
	background-color: #ffffff;
}

header>nav {
	height: 56px;
}

footer {
	width: 100%;
	height: auto;
	line-height: 30px;
}

.pt-header {
	padding-top: 56px;
}

.pb-footer {
	padding-bottom: 60px;
}

.bg-main {
	background-color: #ffffff;
}

.border-transparent {
	border-color: #ffffff;
}

.bg-header {
	background-color: #18bc9c;
}

.bg-footer {
	background-color: #ecf0f1;
}

#toTop {
	position: fixed;
	bottom: 6px;
	right: 6px;
	cursor: pointer;
	display: none;
	z-index: 9999;
	padding: 6px 13px;
}

.mw-content {
	max-width: 580px;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type=date]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type=date]::-webkit-clear-button {
	-webkit-appearance: none;
}

.rounded-left-0 {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.rounded-right-0 {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.btn.nofocus {
	-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
}

@media ( max-width : 575px) {
	.text-none-xs {
		width: auto !important;
	}
	.text-none-xs>span {
		display: none;
	}
	.text-none {
		width: auto;
	}
	.text-none>span {
		display: none;
	}
	.btn-block-xs {
		display: block !important;
		width: 100% !important;
	}
	.d-none-xs {
		display: none !important;
	}
}

@media ( min-width : 576px) {
	.rounded-sm {
		border-radius: .25rem !important;
	}
	.d-none-sm {
		display: none !important;
	}
}

@media ( max-width : 575px) {
	.offcanvas-collapse {
		position: fixed;
		top: 56px;
		bottom: 0;
		right: 100%;
		width: 100%;
		z-index: 10000;
		padding-right: 1rem;
		padding-left: 1rem;
		overflow-y: auto;
		background-color: #2c3e50;
		transition-timing-function: ease-in-out;
		transition-duration: .3s;
		transition-property: right, visibility;
	}
	.offcanvas-collapse .navbar-nav .nav-link:focus, .offcanvas-collapse .navbar-nav .nav-link:hover,
		.offcanvas-collapse .navbar-nav .active>.nav-link {
		color: #18BC9C !important;
	}
	.offcanvas-collapse.open {
		right: 0;
		visibility: visible;
	}
}