<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cncsys.imgz.mapper.AccountMapper">

<!--
	<resultMap id="userResultMap" type="UserInfo">
		<id column="username" property="user" />
		<result column="password" property="pass" />
		<result column="mailaddress" property="mail" />
		<result column="createdate" property="cdate" />
		<collection property="roles" ofType="UserRole">
			<id property="user" column="username" />
			<id property="role" column="authority" />
		</collection>
	</resultMap>

	<select id="selectUser" parameterType="string"
		resultMap="userResultMap">

		select i.username, i.password, i.mailaddress, i.createdate,
		r.authority
		from userinfo i join userrole r on i.username = r.username
		where i.username = #{user}
	</select>
-->

	<select id="selectAccount" resultType="AccountEntity">
		select username, password, email, authority, createdt, enabled, expiredt
		from account
		where username = #{username}
	</select>

	<insert id="insertAccount" parameterType="AccountEntity">
		insert into account (username, password, email, authority, createdt, enabled)
		values (#{username}, #{password}, #{email}, #{authority}, #{createdt}, #{enabled})
	</insert>

	<update id="updateLogindt">
		update account set logindt = #{logindt}
		where username = #{username}
	</update>

	<update id="updateAccount" parameterType="AccountEntity">
		update account set password = #{password}, email = #{email},
		enabled = #{enabled}, expiredt = #{expiredt}
		where username = #{username}
	</update>

</mapper>