<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cncsys.imgz.mapper.FolderMapper">

	<select id="selectByUser" resultType="FolderEntity">
		select folder.username,
		folder.seq, folder.name, folder.locked,
		folder.shared, folder.guest,
		folder.cipher, account.expiredt from
		folder left join account on
		folder.guest = account.username where
		folder.username = #{username}
		order by folder.createdt desc, folder.seq desc
	</select>

	<select id="selectByShared" resultType="FolderEntity">
		select folder.username,
		folder.seq, folder.name, folder.locked,
		folder.shared, folder.guest, folder.cipher,
		account.createdt, account.expiredt from
		folder left join account on
		folder.guest = account.username where
		folder.username = #{username}
		and folder.shared = true
		order by folder.seq
	</select>

	<select id="selectByExpiry" resultType="FolderEntity">
		select folder.username,
		folder.seq, folder.locked, folder.shared,
		folder.guest, folder.cipher,
		account.expiredt from folder left join
		account on folder.guest =
		account.username where account.expiredt &lt;
		#{expiredt} order by
		folder.username, folder.seq
	</select>

	<select id="selectFolder" resultType="FolderEntity">
		select folder.username,
		folder.seq, folder.name, folder.locked,
		folder.shared, folder.guest, folder.cipher,
		account.createdt, account.expiredt from
		folder left join account on
		folder.guest = account.username where
		folder.username = #{username} and
		folder.seq = #{seq}
	</select>

	<select id="selectCount" resultType="int">
		select count(1) from folder
		where username = #{username}
	</select>

	<select id="insertFolder" resultType="int">
		insert into folder
		(username, name, locked, shared, createdt) values
		(#{username},
		#{name}, false, false, #{createdt}) returning seq
	</select>

	<update id="updateGuest">
		update folder set guest = #{guest} where username =
		#{username} and seq =
		#{seq}
	</update>

	<update id="updateLocked">
		update folder set locked = #{locked} where username =
		#{username} and seq =
		#{seq}
	</update>

	<update id="shareFolder">
		update folder set shared = true, cipher =
		#{cipher}, createdt =
		#{createdt} where username = #{username} and seq
		= #{seq}
	</update>

	<update id="initFolder">
		update folder set shared = false, cipher =
		null, name = '', createdt =
		#{createdt} where username = #{username} and seq
		= #{seq}
	</update>

	<select id="updateFolder" resultType="String">
		update folder set name =
		#{name} where username = #{username} and seq =
		#{seq} returning name
	</select>

</mapper>