<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cncsys.imgz.mapper.OrderMapper">

	<select id="selectOrder" resultType="OrderEntity">
		select orderno, email,
		username, folder, thumbnail, original, filename, price,
		createdt,
		charged, expiredt
		from "order"
		where orderno = #{orderno}
		and email =
		#{email}
		and charged = true
		and expiredt >= #{expiredt}
		order by createdt
		asc
	</select>

	<select id="selectByFolder" resultType="OrderEntity">
		select "order".username,
		"order".folder, "order".thumbnail, "order".price, count(1) as qty,
		sum("order".price) as amount
		from "order" inner join photo on
		"order".username = photo.username and
		"order".folder = photo.folder and
		"order".thumbnail = photo.thumbnail
		where
		"order".username = #{username}
		and "order".folder = #{folder}
		and "order".charged =
		true
		group by
		"order".username, "order".folder, "order".thumbnail,
		"order".price
		order by qty desc, amount desc
	</select>

	<insert id="insertOrder" parameterType="OrderEntity">
		insert into "order"
		(orderno, email, username, folder, thumbnail, original, filename,
		price,
		createdt, charged, expiredt)
		values
		(#{orderno}, #{email},
		#{username},
		#{folder}, #{thumbnail}, #{original}, #{filename},
		#{price}, #{createdt},
		#{charged}, #{expiredt})
	</insert>

	<update id="updateCharged">
		update "order" set charged = true, expiredt =
		#{expiredt}
		where orderno
		= #{orderno} and email = #{email} and charged
		= false
	</update>

	<delete id="deleteOrder">
		delete from "order" where orderno = #{orderno} and
		charged = false
	</delete>

</mapper>