<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cncsys.imgz.mapper.PhotoMapper">

	<select id="selectByFolder" resultType="PhotoEntity">
		select username,
		folder,
		thumbnail, original, price, createdt
		from photo
		where
		username =
		#{username} and folder = #{folder}
		order by createdt asc
	</select>

	<select id="selectByGuest" resultType="PhotoEntity">
		select folder.username,
		photo.folder,
		photo.thumbnail, photo.original, photo.price,
		photo.createdt
		from folder, photo
		where
		folder.username = photo.username
		and folder.seq = photo.folder
		and folder.guest =
		#{guest}
		order by
		photo.createdt asc
	</select>

	<select id="selectPhoto" resultType="PhotoEntity">
		select username, folder, thumbnail, original, price, createdt
		from photo
		where username = #{username}
		and folder = #{folder}
		and thumbnail = #{thumbnail}
	</select>

	<insert id="insertPhoto" parameterType="PhotoEntity">
		insert into photo
		(username, folder, thumbnail, original, price, createdt)
		values
		(#{username}, #{folder}, #{thumbnail}, #{original}, #{price},
		#{createdt})
	</insert>

	<select id="deletePhoto" resultType="String">
		delete from photo where
		username = #{username} and
		folder = #{folder} and thumbnail =
		#{thumbnail}
		returning original
	</select>

	<delete id="deleteByFolder">
		delete from photo where username = #{username} and
		folder = #{folder}
	</delete>

	<select id="updatePrice" resultType="int"
		parameterType="PhotoEntity">
		update photo set price = #{price}
		where username =
		#{username} and
		folder = #{folder}
		and thumbnail = #{thumbnail}
		returning price
	</select>

	<update id="updateByFolder" parameterType="PhotoEntity">
		update photo set price
		= #{price}
		where username = #{username} and
		folder = #{folder}
	</update>

</mapper>