<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>[[#{title.download}]]</title>
<link rel="stylesheet" th:href="@{/css/tippy.css}">
<script th:src="@{/js/tippy.min.js}"></script>
<script th:src="@{/js/jquery.lazyload.min.js}"></script>
<script>
	$(function() {
		$('img.lazyload').lazyload();

		tippy.one('#tipExpiry', {
			animation : 'fade',
			arrow : true,
			placement : 'bottom',
			hideOnClick : true,
			trigger : 'click'
		});
	});
</script>
</head>
<body layout:fragment="body" class="pt-header">
	<header layout:insert="~{layout/parts/header::auth}"
		class="fixed-top bg-header"></header>
	<th:block layout:replace="~{layout/parts/dialog::logout}" />

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div class="container-fluid bg-main">
		<div class="pt-3 d-flex justify-content-between">
			<div style="line-height: 38px; font-size: 110%;">
				[[#{label.download.expiry}]]<span class="text-danger"
					th:text="${expiredt}"></span>&nbsp;<span id="tipExpiry"
					style="cursor: pointer" th:title="#{tooltip.download.expiry}"><i
					class="fas fa-question-circle text-dark"></i></span>
			</div>
			<a class="btn btn-info text-none-xs"
				th:href="@{|/download/zip/${link}|}" role="button"><i
				class="fas fa-download"></i><span>&nbsp;[[#{label.download.bulk}]]</span></a>
		</div>
		<hr class="mb-0">
		<div class="row pr-3 pb-3">
			<div th:each="form,stat : ${photos}" th:object="${form}"
				class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 pl-3 pr-0 pt-3">
				<div class="card">
					<div class="card-body p-0 text-center photo">
						<img class="lazyload img-fluid mh-100"
							th:src="@{/images/loading.gif}"
							th:data-original="@{|/order/*{orderno}/thumbnail_*{thumbnail}|}"
							alt="thumbnail">
					</div>
					<div class="card-footer p-1 bg-white">
						<a role="button"
							th:href="@{|/download/img/${stat.count}/*{orderno}|(file=*{thumbnail})}"
							class="btn btn-info btn-sm w-100">[[#{label.download.button}]]</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button type="button" id="toTop"
		class="btn btn-primary rounded-circle nofocus">
		<i class="fas fa-angle-up fa-2x"></i>
	</button>
</body>
</html>