<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>download</title>
<script>

</script>
</head>
<body layout:fragment="body" class="pt-header">
	<header layout:replace="~{layout/parts/header::header(false, false)}"></header>

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div class="container-fluid bg-main">

		ダウンロード
	</div>



</body>
</html>