<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>error</title>
</head>
<body layout:fragment="body" class="pt-header">
	<header layout:insert="~{layout/parts/header::home(false, false)}"
		class="fixed-top bg-header"></header>
	<div class="container bg-main">
		<div class="mw-content mx-auto text-center pt-5">
			<h1>error page</h1>
			<form th:action="@{/logout}" method="post">
				<button type="submit" class="btn btn-primary">ログアウト</button>
			</form>
		</div>
	</div>
</body>
</html>