<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>[[#{title.signin}]]</title>
<style>
html {
	height: 100%;
}
</style>
<script>
	var showWait = false;
	$(function() {
		function isValidForm() {
			var isValid = true;
			$('.is-invalid').removeClass('is-invalid');
			$('.invalid-feedback').remove();

			if ($('#passwd').val().length == 0) {
				$('#passwd').addClass('is-invalid');
				$('#passwd').after($('<div/>', {
					'class' : 'invalid-feedback',
					text : '[(#{error.signin.password})]'
				}));
				$('#passwd').focus();
				isValid = false;
			}

			if ($('#usernm').val().length == 0) {
				$('#usernm').addClass('is-invalid');
				$('#usernm').after($('<div/>', {
					'class' : 'invalid-feedback',
					text : '[(#{error.signin.username})]'
				}));
				$('#usernm').focus();
				isValid = false;
			}

			return isValid;
		}

		$('#fomLogin').submit(function(event) {
			if (!isValidForm()) {
				event.preventDefault();
				event.stopPropagation();
			} else {
				$('#mdlWaiting').modal('show');
			}
		});

		$('#mdlForgot').on('shown.bs.modal', function() {
			$('#username').focus();
		});
		$('#mdlForgotBtn').click(function() {
			$('#username').removeClass('is-invalid');
			if ($('#username').val().length == 0) {
				$('#username').addClass('is-invalid');
				$('#username').focus();
				return;
			}

			showWait = true;
			$('#mdlForgot').modal('hide');
		});
		$('#mdlForgot').on('hidden.bs.modal', function() {
			if (showWait) {
				showWait = false;
				$.ajax({
					url : '[(@{/auth/forgot})]',
					method : 'POST',
					cache : false,
					data : $('#fomForgot').serialize(),
					beforeSend : function() {
						$('#mdlWaiting').modal('show');
					}
				}).done(function(data, textStatus, jqXHR) {
					showAlertInfo([ data ]);
				}).fail(function(jqXHR, textStatus, errorThrown) {
					if (textStatus == 'error') {
						location.href = '[(@{/system/error})]';
					}
				}).always(function() {
					$('#mdlWaiting').modal('hide');
				});
			}
		});
	});
</script>
</head>
<body layout:fragment="body"
	class="pt-header d-flex align-items-start align-items-md-center">
	<header layout:insert="~{layout/parts/header::home(true, false)}"
		class="fixed-top bg-header"></header>

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div class="container bg-main pb-md-5 my-md-auto">
		<th:block layout:replace="~{layout/parts/alert::info}" />
		<div th:if="${param.error}"
			class="alert alert-danger alert-dismissible fade show mw-content mx-auto mt-3 mb-0"
			role="alert">
			<div>[(#{error.signin.message})]</div>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<form id="fomLogin" class="mw-content mx-auto py-3" novalidate
			th:action="@{/login}" method="post">
			<h4>[[#{header.signin}]]</h4>
			<hr>
			<div class="form-group row">
				<label for="usernm" class="col-sm-4 col-form-label text-sm-right">[[#{label.signup.username}]]</label>
				<div class="col-sm-8">
					<input type="text" id="usernm" name="usernm" class="form-control"
						maxlength="20" autofocus required />
				</div>
			</div>
			<div class="form-group row">
				<label for="passwd" class="col-sm-4 col-form-label text-sm-right">[[#{label.signup.password}]]</label>
				<div class="col-sm-8">
					<input type="password" id="passwd" name="passwd"
						class="form-control" maxlength="16" required />
					<div class="form-text text-right">
						<small><a href="javascript:;"
							onclick="$('#username').val($('#usernm').val());"
							data-toggle="modal" data-target="#mdlForgot">[[#{label.signin.forgot}]]</a>
						</small>
					</div>
				</div>
			</div>
			<div class="form-group row mb-0">
				<div class="offset-sm-4 col-sm-8">
					<button type="submit" class="btn btn-primary btn-block-xs"
						style="width: 150px;">[[#{label.login}]]</button>
				</div>
			</div>
		</form>
	</div>

	<div id="mdlForgot" class="modal fade" tabindex="-1" role="dialog"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">[[#{modal.forgot.header}]]</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>[(#{modal.forgot.message})]</p>
					<form id="fomForgot" action="#" novalidate autocomplete="off">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
						<div class="form-group mb-0">
							<input type="text" id="username" name="username"
								class="form-control" maxlength="16" required />
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button id="mdlForgotBtn" type="button" class="btn btn-primary">[[#{modal.button.ok}]]</button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">[[#{modal.button.cancel}]]</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>