<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>[[#{title.signup}]]</title>
<link rel="stylesheet" th:href="@{/css/tippy.css}">
<script th:src="@{/js/tippy.min.js}"></script>
<style>
html {
	height: 100%;
}
</style>
<script>
	$(function() {
		const check = '<i class="fas fa-check-circle text-success"></i>';
		const times = '<i class="fas fa-times-circle text-danger"></i>';

		tippy('[data-toggle="tooltip"]', {
			animation : 'fade',
			arrow : true,
			placement : 'top',
			//size : 'small',
			hideOnClick : false,
			trigger : 'focus'
		});

		$('#username').on('input', function() {
			checkUsername($(this).val());
		});
		function checkUsername(name) {
			var label = $('label[for="username"]');
			label.children('i').remove();
			if (name.length == 0)
				return false;

			if (checkNameSpell(name)) {
				label.append(check);
				return true;
			}

			label.append(times);
			return false;
		}
		function checkNameSpell(name) {
			if (name.length >= 4 && name.length <= 16
					&& /^[a-zA-Z0-9]+[a-zA-Z0-9_\-]*$/.test(name)) {
				return true;
			}
			return false;
		}

		$('#password').on('input', function() {
			checkPassword($(this).val());
			confirmPassword($(this).val(), $('#confirm').val());
		});
		function checkPassword(password) {
			var label = $('label[for="password"]');
			label.children('i').remove();
			if (password.length == 0)
				return;

			var strength = checkStrength(password);
			if (strength == 2) {
				label.append(check);
			} else {
				label.append(times);
			}
		}

		$('#confirm').on('input', function() {
			confirmPassword($('#password').val(), $(this).val());
		});
		function confirmPassword(password, confirm) {
			var label = $('label[for="confirm"]');
			label.children('i').remove();
			if (confirm.length == 0)
				return;

			if (password == confirm) {
				label.append(check);
			} else {
				label.append(times);
			}
		}

		function isValidForm() {
			var isValid = true;
			$('.is-invalid').removeClass('is-invalid');
			$('.invalid-feedback').remove();

			if (!checkNameSpell($('#username').val())) {
				$('#username').addClass('is-invalid');
				$('#username').after($('<div/>', {
					'class' : 'invalid-feedback',
					text : '[(#{validation.signup.username})]'
				}));
				isValid = false;
			}

			if (!checkMailAddress($('#email').val())) {
				$('#email').addClass('is-invalid');
				$('#email').after($('<div/>', {
					'class' : 'invalid-feedback',
					text : '[(#{validation.signup.email})]'
				}));
				isValid = false;
			}

			if (checkStrength($('#password').val()) != 2) {
				$('#password').addClass('is-invalid');
				$('#password').after($('<div/>', {
					'class' : 'invalid-feedback',
					text : '[(#{validation.signup.password})]'
				}));
				isValid = false;
			}

			if ($('#confirm').val() != $('#password').val()) {
				$('#confirm').addClass('is-invalid');
				$('#confirm').after($('<div/>', {
					'class' : 'invalid-feedback',
					text : '[(#{validation.signup.confirm})]'
				}));
				isValid = false;
			}

			return isValid;
		}

		$('#fomSignup').submit(function(event) {
			if (!isValidForm()) {
				event.preventDefault();
				event.stopPropagation();
			} else {
				$('#mdlWaiting').modal('show');
			}
		});
	});
</script>
</head>
<body layout:fragment="body"
	class="pt-header d-flex align-items-start align-items-md-center">
	<header layout:insert="~{layout/parts/header::home(true, true)}"
		class="fixed-top bg-header"></header>

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div class="container bg-main pb-footer my-md-auto">
		<th:block layout:replace="~{layout/parts/alert::error}" />
		<form id="fomSignup" class="mw-content mx-auto py-3" novalidate
			th:action="@{/auth/send}" th:object="${signupForm}" method="post"
			autocomplete="off">
			<h4>[[#{header.signup}]]</h4>
			<hr>
			<div class="form-group row">
				<label for="username" class="col-sm-4 col-form-label text-sm-right">[[#{label.signup.username}]]</label>
				<div class="col-sm-8">
					<input type="text" th:field="*{username}" class="form-control"
						data-toggle="tooltip" th:title="#{tooltip.signup.username}"
						th:errorclass="is-invalid" maxlength="16" autofocus required />
					<div class="invalid-feedback"
						th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username
						error</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="email" class="col-sm-4 col-form-label text-sm-right">[[#{label.signup.email}]]</label>
				<div class="col-sm-8">
					<input type="email" th:field="*{email}" class="form-control"
						th:errorclass="is-invalid" maxlength="255" required />
					<div class="invalid-feedback" th:if="${#fields.hasErrors('email')}"
						th:errors="*{email}">email error</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="password" class="col-sm-4 col-form-label text-sm-right">[[#{label.signup.password}]]</label>
				<div class="col-sm-8">
					<input type="password" th:field="*{password}" class="form-control"
						data-toggle="tooltip" th:title="#{tooltip.signup.password}"
						th:errorclass="is-invalid" maxlength="16" required />
					<div class="invalid-feedback"
						th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password
						error</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="confirm" class="col-sm-4 col-form-label text-sm-right">[[#{label.signup.passconfirm}]]</label>
				<div class="col-sm-8">
					<input type="password" th:field="*{confirm}" class="form-control"
						th:errorclass="is-invalid" maxlength="16" required />
					<div class="invalid-feedback"
						th:if="${#fields.hasErrors('confirm')}" th:errors="*{confirm}">confirm
						error</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="offset-sm-4 col-sm-8">
					<div class="custom-control custom-checkbox">
						<input class="custom-control-input" type="checkbox" id="chkAccept"
							th:checked="false"
							onchange="$('#btnRegister').prop('disabled', !$(this).prop('checked'));" />
						<label class="custom-control-label" for="chkAccept"><small>[[#{label.signup.accept}]]</small></label>
					</div>
				</div>
			</div>
			<div class="form-group row mb-0">
				<div class="offset-sm-4 col-sm-8">
					<button id="btnRegister" type="submit"
						class="btn btn-primary btn-block-xs" style="width: 150px;"
						disabled>[[#{label.signup.register}]]</button>
					<small class="form-text text-muted">[(#{message.signup.process})]</small>
				</div>
			</div>
		</form>
	</div>
	<footer layout:replace="~{layout/parts/footer::footer}"></footer>
</body>
</html>