<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>[[#{title.guest}]]</title>
<script>
	var target = 0;
	$(function() {
		$('#fomPhoto')
				.submit(
						function(event) {
							event.preventDefault();

							$
									.ajax({
										url : '[(@{/guest/cart/del})]',
										method : 'POST',
										cache : false,
										data : $('#fomPhoto').serialize(),
										beforeSend : function() {
											//$('#mdlWaiting').modal('show');
										}
									})
									.done(
											function(data, textStatus, jqXHR) {
												$('#bagCart').text(data);
												$('#photo' + target).remove();
												if (data == '0') {
													$('#btnOrder').addClass(
															'disabled');
													$('#total')
															.text(
																	'[(#{money.mark})]0');
												} else {
													var total = Number($(
															'#total')
															.text()
															.replace(
																	'[(#{money.mark})]',
																	'')
															.replace(/,/g, ''));
													total -= Number($('#price')
															.val());
													$('#total')
															.text(
																	'[(#{money.mark})]'
																			+ total
																					.toString()
																					.replace(
																							/(\d)(?=(\d{3})+$)/g,
																							'$1,'));
												}
											}).fail(
											function(jqXHR, textStatus,
													errorThrown) {
												// do nothing
											}).always(function() {
										//$('#mdlWaiting').modal('hide');
									});
						});
	});
</script>
</head>
<body layout:fragment="body" class="pt-header">
	<header layout:insert="~{layout/parts/header::guest(-1)}"
		class="fixed-top bg-header"></header>
	<th:block layout:replace="~{layout/parts/dialog::logout}" />

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div class="container-fluid bg-main">
		<div class="pt-3 d-flex justify-content-between">
			<button type="button" class="btn btn-warning" th:disabled="true"
				style="opacity: 1;">
				[[#{label.cart.total}]]&nbsp;&nbsp;<span id="total"
					th:text="${#lists.isEmpty(cart)}?|#{money.mark}0|:|#{money.mark}${#numbers.formatInteger(#aggregates.sum(cart.![price]),1,'COMMA')}|"></span>
			</button>
			<a class="btn btn-info ml-auto" id="btnOrder"
				th:classappend="${#lists.isEmpty(cart)}?'disabled'"
				th:href="@{/guest/pay}" role="button">[[#{label.cart.order}]]</a>
		</div>
		<hr class="mb-0">
		<div class="row pr-3 pb-3">
			<div th:each="form,stat : ${cart}" th:object="${form}"
				th:id="|photo${stat.count}|"
				class="col-sm-6 col-md-4 col-lg-3 col-xl-2 pl-3 pr-0 pt-3">
				<div class="card">
					<div class="card-body p-0 text-center"
						style="height: 200px; line-height: 194px;">
						<img class="img-fluid mh-100"
							th:src="@{|/upload/*{username}/*{folder}/thumbnail_*{thumbnail}|}"
							alt="thumbnail">
						<div class="badge badge-warning position-absolute"
							style="top: 0; right: 0;"
							th:text="|#{money.mark}*{#numbers.formatInteger(price,1,'COMMA')}|"></div>
					</div>
					<div class="card-footer p-1 bg-white">
						<button type="button" th:id="|btnDel${stat.count}|"
							class="btn btn-danger btn-sm w-100" th:disabled="*{incart}"
							th:onclick="|target=${stat.count};$('#thumbnail').val('*{thumbnail}');$('#price').val(*{price});$('#fomPhoto').submit();|">[[#{label.cart.delete}]]</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<button type="button" id="toTop"
		class="btn btn-primary rounded-circle nofocus">
		<i class="fas fa-angle-up fa-2x"></i>
	</button>

	<form id="fomPhoto" action="#">
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" /> <input type="hidden" id="username"
			name="username" th:value="${username}" /> <input type="hidden"
			id="folder" name="folder" th:value="${folder}" /> <input
			type="hidden" id="thumbnail" name="thumbnail" /> <input
			type="hidden" id="price" name="price" />
	</form>
</body>
</html>