<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>guest home</title>
<script>
	var target = 0;
	var mdlClear = 0;
	$(function() {
		$('#fomPhoto')
				.submit(
						function(event) {
							event.preventDefault();

							$
									.ajax({
										url : '[(@{/guest/cart/del})]',
										method : 'POST',
										cache : false,
										data : $('#fomPhoto').serialize(),
										beforeSend : function() {
											$('#mdlWaiting').modal('show');
										}
									})
									.done(
											function(data, textStatus, jqXHR) {
												$('#bagCart').text(data);
												$('#photo' + target).remove();
												if (data == '0') {
													$('#btnClear').addClass(
															'd-none');
													$('#btnOrder').addClass(
															'disabled');
													$('#total')
															.text(
																	'[(#{mark.money})]0');
												} else {
													var total = Number($(
															'#total')
															.text()
															.replace(
																	'[(#{mark.money})]',
																	'')
															.replace(/,/g, ''));
													total -= Number($('#price')
															.val());
													$('#total')
															.text(
																	'[(#{mark.money})]'
																			+ total
																					.toString()
																					.replace(
																							/(\d)(?=(\d{3})+$)/g,
																							'$1,'));
												}
											}).fail(
											function(jqXHR, textStatus,
													errorThrown) {
												// do nothing
											}).always(function() {
										$('#mdlWaiting').modal('hide');
									});
						});

		$('#mdlClear').on('hide.bs.modal', function(e) {
			if (mdlClear == 1) {
				mdlClear = 0;
				$('#mdlWaiting').modal('show');
				$('#fomClear').submit();
			}
		});
	});
</script>
</head>
<body layout:fragment="body" class="pt-header">
	<header layout:insert="~{layout/parts/navbar::guest(-1)}"
		class="fixed-top bg-header"></header>
	<th:block layout:replace="~{layout/parts/dialog::logout}" />

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div class="container-fluid bg-main">
		<div class="pt-3 d-flex justify-content-between">
			<button type="button" class="btn btn-danger d-none" id="btnClear"
				th:classappend="${#lists.isEmpty(cart)}?'d-none'"
				data-toggle="modal" data-target="#mdlClear">クリア</button>
			<button type="button" class="btn btn-warning" th:disabled="true"
				style="opacity: 1;">
				合計&nbsp;&nbsp; <span id="total"
					th:text="${#lists.isEmpty(cart)}?|#{mark.money}0|:|#{mark.money}${#numbers.formatInteger(__${#aggregates.sum(cart.![price])}__,1,'COMMA')}|"></span>
			</button>
			<a class="btn btn-success ml-auto" id="btnOrder"
				th:classappend="${#lists.isEmpty(cart)}?'disabled'"
				th:href="@{/guest/charge}" role="button">注文手続きへ</a>
		</div>
		<hr class="mb-0">

		<div class="row pr-3 pb-3">
			<div th:each="form,stat : ${cart}" th:object="${form}"
				th:id="|photo${stat.count}|"
				class="col-sm-6 col-md-4 col-lg-3 col-xl-2 pl-3 pr-0 pt-3">
				<div class="card">
					<div class="card-body p-0 text-center"
						style="height: 200px; line-height: 194px;">
						<img class="img-fluid" style="max-height: 100%;"
							th:src="@{|/upload/*{username}/*{folder}/thumbnail_*{thumbnail}|}"
							alt="thumbnail">
						<div class="badge badge-warning position-absolute"
							style="top: 0; right: 0;"
							th:text="|#{mark.money}*{#numbers.formatInteger(price,1,'COMMA')}|">金額</div>
					</div>
					<div class="card-footer p-1 bg-white">
						<button type="button" th:id="|btnDel${stat.count}|"
							class="btn btn-danger btn-sm w-100" th:disabled="*{incart}"
							th:onclick="|target=${stat.count};$('#thumbnail').val('*{thumbnail}');$('#price').val(*{price});$('#fomPhoto').submit();|">削除</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<form id="fomPhoto" th:action="@{/guest/cart/del}" method="post">
		<input type="hidden" id="username" name="username"
			th:value="${#lists.isEmpty(cart)} ? '' : ${cart[0].username}" /> <input
			type="hidden" id="folder" name="folder"
			th:value="${#lists.isEmpty(cart)} ? '' : ${cart[0].folder}" /> <input
			type="hidden" id="thumbnail" name="thumbnail" /> <input
			type="hidden" id="price" name="price" />
	</form>

	<div id="mdlClear" class="modal fade" tabindex="-1" role="dialog"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">確認</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>クリアしますか。</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">いいえ</button>
					<form id="fomClear" class="form-inline"
						th:action="@{/guest/cart/clear}" method="post">
						<button type="button" class="btn btn-primary" data-dismiss="modal"
							onclick="mdlClear=1;">はい</button>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>