<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>charge</title>
<script th:src="@{/js/omise.js}"></script>
<script>
	$(function() {
		// for test =====
		$('#email').val('guest@mail.com');
		$('#number').val('4111111111111111');
		$('#name').val('TARO TEST');
		$('#code').val('123');
		// for test =====

		$('#btnConfirm').click(function() {
			if (!$('#email').get(0).checkValidity()) {
				return;
			}

			$.ajax({
				url : '[(@{/guest/confirm})]',
				method : 'POST',
				headers : {
					'[(${_csrf.headerName})]' : '[(${_csrf.token})]'
				},
				cache : false,
				timeout : 10000,
				contentType : "application/json",
				data : JSON.stringify({
					email : $('#email').val()
				})
			});
		});

		$('#fomCharge').submit(
				function(event) {
					event.preventDefault();
					var form = $(this).get(0);
					if (!form.checkValidity()) {
						event.stopPropagation();
						$(this).addClass('was-validated');
						return;
					}
					$('#mdlWaiting').modal('show');

					var card = {
						name : $('#name').val(),
						number : $('#number').val(),
						expiration_month : $('#month').val(),
						expiration_year : $('#year').val(),
						security_code : $('#code').val()
					};

					Omise.createToken('card', card, function(statusCode,
							response) {
						if (response.object == 'error'
								|| !response.card.security_code_check) {
							var message = 'SECURITY CODE ERROR!';
							if (response.object == "error") {
								message = response.message;
							}
							var errors = [ message ];
							showAlertError(errors);

							$('#mdlWaiting').modal('hide');
						} else {
							$('#token').val(response.id);
							$('#number').val('');
							$('#name').val('');
							$('#code').val('');
							form.submit();
						}
					});
				});
	});
</script>
</head>
<body layout:fragment="body" class="pt-header">
	<header layout:insert="~{layout/parts/header::guest(-1)}"
		class="fixed-top bg-header"></header>
	<th:block layout:replace="~{layout/parts/dialog::logout}" />

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div class="container bg-main pb-3">
		<form class="mw-content mx-auto" id="fomCharge" novalidate
			th:action="@{/guest/charge}" th:object="${chargeForm}" method="post"
			autocomplete="off">
			<th:block layout:replace="~{layout/parts/alert::error}" />
			<div class="mt-3 d-flex justify-content-between">
				<h2 class="mb-0">買上</h2>
				<h2 class="mb-0"
					th:text="|${#numbers.formatInteger(__${#aggregates.sum(cart.![price])}__,1,'COMMA')}円|"></h2>
			</div>
			<hr>
			<input type="hidden" id="token" name="token" />
			<div class="form-group row">
				<label for="email" class="col-sm-4 col-form-label text-sm-right">メールアドレス</label>
				<div class="col-sm-8 input-group">
					<input type="email" th:field="*{email}" class="form-control"
						th:errorclass="is-invalid" placeholder="" required autofocus />
					<div class="input-group-append">
						<button type="button" id="btnConfirm"
							class="btn btn-success rounded-right">受信確認</button>
					</div>
					<small class="form-text text-muted">当サイトからのメールを受信できることを確認してください</small>
					<div class="invalid-feedback" th:if="${#fields.hasErrors('email')}"
						th:errors="*{email}">email error</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="number" class="col-sm-4 col-form-label text-sm-right">カード番号</label>
				<div class="col-sm-8">
					<input type="text" id="number" name="number" class="form-control"
						maxlength="16" placeholder="" required />
					<div class="invalid-feedback">number error</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="name" class="col-sm-4 col-form-label text-sm-right">カード名義</label>
				<div class="col-sm-8">
					<input type="text" id="name" name="name" class="form-control"
						maxlength="50" placeholder="" required /> <small
						class="form-text text-muted">カード上に表示されているフルネーム</small>
					<div class="invalid-feedback">name error</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="expiry" class="col-sm-4 col-form-label text-sm-right">有効期限</label>
				<div class="col-sm-8">
					<div class="input-group" id="expiry">
						<select id="month" name="month" class="custom-select">
							<option value="1" selected>01</option>
							<option value="2">02</option>
							<option value="3">03</option>
							<option value="4">04</option>
							<option value="5">05</option>
							<option value="6">06</option>
							<option value="7">07</option>
							<option value="8">08</option>
							<option value="9">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select>
						<div class="input-group-append input-group-prepend">
							<span class="input-group-text">/</span>
						</div>
						<select id="year" name="year" class="custom-select">
							<option th:each="year,stat : ${years}" th:value="${year}"
								th:text="${year}" th:selected="${stat.count}==3">2018</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="code" class="col-sm-4 col-form-label text-sm-right">セキュリティコード</label>
				<div class="col-sm-8">
					<input type="text" id="code" name="code" class="form-control"
						maxlength="4" placeholder="" required />
					<div class="invalid-feedback">code error</div>
				</div>
			</div>
			<div class="form-group row mb-0">
				<div class="offset-sm-4 col-sm-8">
					<button id="btnCharge" type="submit"
						class="btn btn-primary btn-block-xs" style="width: 150px;">購入</button>
				</div>
			</div>
		</form>
	</div>

	<script>
		Omise.setPublicKey("pkey_test_5crja3prxerg79lsrbg");
	</script>
</body>
</html>