<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>done</title>
<script>

</script>
</head>
<body layout:fragment="body" class="pt-header d-flex align-items-start">
	<header layout:insert="~{layout/parts/navbar::guest(-1)}"
		class="fixed-top bg-header"></header>
	<th:block layout:replace="~{layout/parts/dialog::logout}" />

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div class="container bg-main my-auto text-center">
		<h4>ご購入いただきありがとうございます</h4>
		<br>
		<p th:if="${order}" th:text="${order}"></p>
		<br> <a th:if="${link}" class="btn btn-success" target="_blank"
			th:href="@{${link}}" role="button">ダウンロードへ</a>
	</div>

</body>
</html>