<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>download</title>
<script>

</script>
</head>
<body layout:fragment="body" class="pt-header">
	<header layout:insert="~{layout/parts/navbar::guest(-1)}"
		class="fixed-top bg-header"></header>
	<th:block layout:replace="~{layout/parts/dialog::logout}" />

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div class="container-fluid bg-main">

		<div class="row pr-3 pb-3">
			<div th:each="form,stat : ${cart}" th:object="${form}"
				th:id="|photo${stat.count}|"
				class="col-sm-6 col-md-4 col-lg-3 col-xl-2 pl-3 pr-0 pt-3">
				<div class="card">
					<div
						class="card-body p-0 d-flex justify-content-center align-items-center"
						style="height: 200px">
						<img class="img-fluid"
							th:src="@{|/upload/*{username}/*{folder}/thumbnail_*{thumbnail}|}"
							alt="thumbnail">
					</div>
					<div class="card-footer p-1 bg-white">
						<button type="button" th:id="|btnDel${stat.count}|"
							class="btn btn-danger btn-sm w-100" th:disabled="*{incart}"
							th:onclick="|$('#thumbnail').val('*{thumbnail}');$('#fomDown').submit();|">ダウンロード</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<form id="fomDown" th:action="@{/guest/cart/down}" method="post">
		<input type="hidden" id="username" name="username"
			th:value="${#lists.isEmpty(cart)} ? '' : ${cart[0].username}" /> <input
			type="hidden" id="folder" name="folder"
			th:value="${#lists.isEmpty(cart)} ? '' : ${cart[0].folder}" /> <input
			type="hidden" id="thumbnail" name="thumbnail" />
	</form>

</body>
</html>