<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>[[#{title.guest}]]</title>
<link rel="stylesheet" th:href="@{/css/imageview.css}">
<script th:src="@{/js/jquery.lazyload.min.js}"></script>
<script th:src="@{/js/jquery.imageview.js}"></script>
<script>
	var target = 0;
	$(function() {
		$('img.lazyload').lazyload();
		$('#imgView').imageview();

		$('#fomPhoto').submit(
				function(event) {
					event.preventDefault();

					$.ajax({
						url : '[(@{/guest/cart/add})]',
						method : 'POST',
						cache : false,
						data : $('#fomPhoto').serialize(),
						beforeSend : function() {
							$('#btnAdd' + target).prop('disabled', true);
						}
					}).done(
							function(data, textStatus, jqXHR) {
								$('.bagCart').text(data);
								$('#btnAdd' + target).addClass('btn-secondary')
										.removeClass('btn-info');
							}).fail(function(jqXHR, textStatus, errorThrown) {
						$('#btnAdd' + target).prop('disabled', false);
					});
				});
	});
</script>
</head>
<body layout:fragment="body" class="pt-header">
	<header layout:insert="~{layout/parts/header::guest(-1)}"
		class="fixed-top bg-header"></header>
	<th:block layout:replace="~{layout/parts/dialog::logout}" />

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div class="container-fluid bg-main">
		<div id="imgView" class="row pr-3 pb-3">
			<div th:each="form,stat : ${photos}" th:object="${form}"
				th:id="|photo${stat.count}|"
				class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 pl-3 pr-0 pt-3">
				<div class="card">
					<div class="card-body p-0 text-center photo">
						<a
							th:href="@{|/upload/*{username}/*{folder}/preview_*{thumbnail}|}"
							th:data-index="${stat.count}"> <img
							class="lazyload img-fluid mh-100" th:src="@{/images/loading.gif}"
							th:data-original="@{|/upload/*{username}/*{folder}/thumbnail_*{thumbnail}|}"
							alt="thumbnail">
						</a>
						<div class="badge badge-warning badge-price"
							th:text="|#{money.mark}*{#numbers.formatInteger(price,1,'COMMA')}|"></div>
					</div>
					<div class="card-footer p-1 bg-white">
						<button type="button" th:id="|btnAdd${stat.count}|"
							class="btn btn-sm w-100"
							th:classappend="*{incart}?'btn-secondary':'btn-info'"
							th:disabled="*{incart}"
							th:onclick="|target=${stat.count};$('#thumbnail').val('*{thumbnail}');$('#price').val(*{price});$('#fomPhoto').submit();|">
							<i class="fas fa-cart-plus"></i>&nbsp;[[#{label.guest.cart}]]
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<button type="button" id="toTop"
		class="btn btn-primary rounded-circle nofocus">
		<i class="fas fa-angle-up fa-2x"></i>
	</button>

	<form id="fomPhoto" action="#">
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" /> <input type="hidden" id="username"
			name="username" th:value="${username}" /> <input type="hidden"
			id="folder" name="folder" th:value="${folder}" /> <input
			type="hidden" id="thumbnail" name="thumbnail" /> <input
			type="hidden" id="price" name="price" />
	</form>
</body>
</html>