<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>guest home</title>
<link rel="stylesheet" th:href="@{/css/imageview.css}">
<script th:src="@{/js/jquery.lazyload.min.js}"></script>
<script th:src="@{/js/jquery.imageview.js}"></script>
<script>
	var target = 0;
	$(function() {
		$('img.lazyload').lazyload();
		$('#imgView').imageview();

		$('#fomPhoto').submit(function(event) {
			event.preventDefault();

			$.ajax({
				url : '[(@{/guest/cart/add})]',
				method : 'POST',
				cache : false,
				data : $('#fomPhoto').serialize(),
				beforeSend : function() {
					//$('#mdlWaiting').modal('show');
				}
			}).done(function(data, textStatus, jqXHR) {
				$('#bagCart').text(data);
				$('#btnAdd' + target).prop('disabled', true);
				$('#btnAdd' + target).addClass('btn-secondary')
				.removeClass('btn-info');
			}).fail(function(jqXHR, textStatus, errorThrown) {
				// do nothing
			}).always(function() {
				//$('#mdlWaiting').modal('hide');
			});
		});
	});
</script>
</head>
<body layout:fragment="body" class="pt-header">
	<header layout:insert="~{layout/parts/header::guest(0)}"
		class="fixed-top bg-header"></header>
	<th:block layout:replace="~{layout/parts/dialog::logout}" />

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div id="imgView" class="container-fluid bg-main">

		<div class="row pr-3 pb-3">
			<div th:each="form,stat : ${photos}" th:object="${form}"
				th:id="|photo${stat.count}|"
				class="col-sm-6 col-md-4 col-lg-3 col-xl-2 pl-3 pr-0 pt-3">
				<div class="card">
					<div class="card-body p-0 text-center"
						style="height: 200px; line-height: 194px;">
						<a
							th:href="@{|/upload/*{username}/*{folder}/preview_*{thumbnail}|}"
							title="sample"> <img class="lazyload img-fluid"
							style="max-height: 100%;" th:src="@{/images/loading.gif}"
							th:data-original="@{|/upload/*{username}/*{folder}/thumbnail_*{thumbnail}|}"
							alt="thumbnail">
						</a>
						<div class="badge badge-warning position-absolute"
							style="top: 0; right: 0;"
							th:text="|#{money.mark}*{#numbers.formatInteger(price,1,'COMMA')}|">金額</div>
					</div>
					<div class="card-footer p-1 bg-white">
						<button type="button" th:id="|btnAdd${stat.count}|"
							class="btn btn-sm w-100" th:classappend="*{incart}?'btn-secondary':'btn-info'"
							th:disabled="*{incart}"
							th:onclick="|target=${stat.count};$('#thumbnail').val('*{thumbnail}');$('#price').val(*{price});$('#fomPhoto').submit();|">カートに追加</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<form id="fomPhoto" th:action="@{/guest/cart/add}" method="post">
		<input type="hidden" id="username" name="username"
			th:value="${#lists.isEmpty(photos)} ? '' : ${photos[0].username}" />
		<input type="hidden" id="folder" name="folder"
			th:value="${#lists.isEmpty(photos)} ? '' : ${photos[0].folder}" /> <input
			type="hidden" id="thumbnail" name="thumbnail" /> <input
			type="hidden" id="price" name="price" />
	</form>

</body>
</html>