<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>[[#{title.guest}]]</title>
<script th:src="@{/js/omise.min.js}"></script>
<script>
	$(function() {
		// for test =====
		$('#email').val('guest@mail.com');
		$('#number').val('4111111111111111');
		$('#name').val('TARO TEST');
		$('#code').val('123');
		// for test =====

		$('#btnMail').click(function() {
			$('#email').removeClass('is-invalid');
			$('#grpEmail').next('.invalid-feedback').remove();
			if (!checkMailAddress($('#email').val())) {
				$('#email').addClass('is-invalid');
				$('#grpEmail').after($('<div/>', {
					'class' : 'invalid-feedback d-block',
					text : '[(#{validation.signup.email})]'
				}));
				return;
			}

			$.ajax({
				url : '[(@{/guest/mail})]',
				method : 'POST',
				headers : {
					'[(${_csrf.headerName})]' : '[(${_csrf.token})]'
				},
				cache : false,
				contentType : "application/json",
				data : JSON.stringify({
					email : $('#email').val()
				})
			});
		});

		function isValidForm() {
			var isValid = true;
			$('.is-invalid').removeClass('is-invalid');
			$('.invalid-feedback').remove();

			if (!checkMailAddress($('#email').val())) {
				$('#email').addClass('is-invalid');
				$('#grpEmail').after($('<div/>', {
					'class' : 'invalid-feedback d-block',
					text : '[(#{validation.signup.email})]'
				}));
				isValid = false;
			}

			if ($('#number').val().length == 0) {
				$('#number').addClass('is-invalid');
				$('#number').after($('<div/>', {
					'class' : 'invalid-feedback',
					text : '[(#{validation.card.number})]'
				}));
				isValid = false;
			}

			if ($('#name').val().length == 0) {
				$('#name').addClass('is-invalid');
				$('#name').after($('<div/>', {
					'class' : 'invalid-feedback',
					text : '[(#{validation.card.name})]'
				}));
				isValid = false;
			}

			if ($('#code').val().length == 0) {
				$('#code').addClass('is-invalid');
				$('#code').after($('<div/>', {
					'class' : 'invalid-feedback',
					text : '[(#{validation.card.code})]'
				}));
				isValid = false;
			}

			return isValid;
		}

		$('#btnPay').click(function() {
			if (isValidForm()) {
				$('#mdlWaiting').modal('show');

				var card = {
					name : $('#name').val(),
					number : $('#number').val(),
					expiration_month : $('#month').val(),
					expiration_year : $('#year').val(),
					security_code : $('#code').val()
				};

				Omise.createToken('card', card, function(statusCode, response) {
					if (statusCode != 200 || response.object == 'error') {
						var message = response.message;
						// TODO: messageの多言語化
						var errors = [ message ];
						showAlertError(errors);
						$('#mdlWaiting').modal('hide');
					} else {
						$('#number').val('');
						$('#name').val('');
						$('#code').val('');
						$('#token').val(response.id);
						$('#fomPay').submit();
					}
				});
			}
		});
	});
</script>
</head>
<body layout:fragment="body" class="pt-header">
	<header layout:insert="~{layout/parts/header::guest(-1)}"
		class="fixed-top bg-header"></header>
	<th:block layout:replace="~{layout/parts/dialog::logout}" />

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div class="container bg-main px-0">
		<div
			class="mw-content mx-auto py-3 border-bottom d-flex justify-content-between">
			<h2 class="mb-0 ml-3">[[#{header.purchase}]]</h2>
			<h2 class="mb-0 mr-3"
				th:text="|${#numbers.formatInteger(total,1,'COMMA')}#{money.unit}|"></h2>
		</div>
	</div>
	<div class="container bg-main">
		<th:block layout:replace="~{layout/parts/alert::error}" />
		<form id="fomPay" class="mw-content mx-auto py-3" novalidate
			th:action="@{/guest/pay}" th:object="${payForm}" method="post">
			<input type="hidden" id="token" name="token" />
			<div class="form-group row">
				<label for="grpEmail" class="col-sm-4 col-form-label text-sm-right">[[#{label.signup.email}]]</label>
				<div class="col-sm-8">
					<div id="grpEmail" class="input-group">
						<input type="email" th:field="*{email}" class="form-control"
							th:errorclass="is-invalid" autofocus required />
						<div class="input-group-append">
							<button type="button" id="btnMail"
								class="btn btn-info rounded-right">[[#{label.email.button}]]</button>
						</div>
					</div>
					<div class="invalid-feedback d-block"
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email
						error</div>
					<small class="form-text text-muted">[[#{message.email.receive}]]</small>
				</div>
			</div>
			<div class="form-group row">
				<label for="type" class="col-sm-4 col-form-label text-sm-right">[[#{label.card.enable}]]</label>
				<div class="col-sm-8">
					<div id="type">
						<img th:src="@{/images/credit1.png}" alt="VISA"> <img
							th:src="@{/images/credit2.png}" alt="MasterCard"> <img
							th:src="@{/images/credit3.png}" alt="JCB"> <img
							th:src="@{/images/credit4.png}" alt="Diners Club"> <img
							th:src="@{/images/credit5.png}" alt="AMERICAN EXPRESS">
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="number" class="col-sm-4 col-form-label text-sm-right">[[#{label.card.number}]]</label>
				<div class="col-sm-8">
					<input type="number" id="number" name="number" min="0"
						class="form-control num-only" pattern="[0-9]+" maxlength="16"
						placeholder="1234123412341234" />
				</div>
			</div>
			<div class="form-group row">
				<label for="name" class="col-sm-4 col-form-label text-sm-right">[[#{label.card.name}]]</label>
				<div class="col-sm-8">
					<input type="text" id="name" name="name" class="form-control"
						maxlength="50" placeholder="TARO CARD" />
				</div>
			</div>
			<div class="form-group row">
				<label for="grpExpiry" class="col-sm-4 col-form-label text-sm-right">[[#{label.card.expiry}]]</label>
				<div class="col-sm-8">
					<div id="grpExpiry" class="input-group">
						<select id="month" name="month" class="custom-select">
							<option th:each="i : ${#numbers.sequence(1,12)}" th:value="${i}"
								th:selected="${i}==1" th:text="${#numbers.formatInteger(i,2)}"></option>
						</select>
						<div class="input-group-append input-group-prepend">
							<span class="input-group-text">/</span>
						</div>
						<select id="year" name="year" class="custom-select">
							<option th:each="year,stat : ${years}" th:value="${year}"
								th:text="${year}" th:selected="${stat.count}==3"></option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="code" class="col-sm-4 col-form-label text-sm-right">[[#{label.card.code}]]</label>
				<div class="col-sm-8">
					<input type="number" id="code" name="code" min="0" max="9999"
						class="form-control num-only" pattern="[0-9]+" maxlength="4" />
				</div>
			</div>
			<div class="form-group row mb-0">
				<div class="offset-sm-4 col-sm-8">
					<button id="btnPay" type="button"
						th:disabled="${total}<${@applicationProperties.getProperty('omise.charge.min')} or ${@applicationProperties.getProperty('omise.charge.max')}<${total}"
						class="btn btn-primary btn-block-xs" style="width: 150px;">[[#{label.pay.button}]]</button>
				</div>
			</div>
		</form>
	</div>
	<script>
		Omise
				.setPublicKey('[(${@applicationProperties.getProperty("omise.public.key")})]');
	</script>
</body>
</html>