<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>[[#{title.user}]]</title>
<link rel="stylesheet" th:href="@{/css/flatpickr.css}">
<script th:src="@{/js/moment.min.js}"></script>
<script th:src="@{/js/flatpickr.min.js}"></script>
<script th:if="${#locale.language}=='ja'"
	th:src="@{/js/flatpickr.ja.js}"></script>
<script th:if="${#locale.language}=='zh'"
	th:src="@{/js/flatpickr.zh.js}"></script>
<style>
html {
	height: 100%;
}

#plansdt[readonly], #expiredt[readonly] {
	background-color: #fff !important;
}
</style>
<script>
	$(function() {
		$('#btnAuto').click(function() {
			var password = '';
			while (password = createPassword(8)) {
				if (/[a-zA-Z]+/.test(password) && /[0-9]+/.test(password)) {
					$('#password').val(password);
					break;
				}
			}
		});

		var fpExpiredt = flatpickr('#grpExpiredt', {
			locale : '[(${#locale.language})]',
			dateFormat : 'Y-m-d',
			allowInput : false,
			disableMobile : false,
			prevArrow : '<i class="fas fa-chevron-left"></i>',
			nextArrow : '<i class="fas fa-chevron-right"></i>',
			minDate : '[(${minExpiredt})]',
			defaultDate : '[(${folderForm.expiredt})]',
			wrap : true
		});

		flatpickr('#grpPlansdt', {
			locale : '[(${#locale.language})]',
			dateFormat : 'Y-m-d',
			allowInput : false,
			disableMobile : false,
			prevArrow : '<i class="fas fa-chevron-left"></i>',
			nextArrow : '<i class="fas fa-chevron-right"></i>',
			minDate : '[(${minPlansdt})]',
			maxDate : '[(${maxPlansdt})]',
			defaultDate : '[(${folderForm.plansdt})]',
			wrap : true,
			onChange : function(selectedDates, dateStr, instance) {
				var seldt = moment($('#expiredt').val());
				var mindt = dateStr;

				fpExpiredt.set('minDate', mindt);
				$('#expiredt').attr('min', mindt);
				$('#expiredt').next('.flatpickr-mobile').attr('min', mindt);

				if (seldt.isBefore(mindt)) {
					fpExpiredt.setDate(mindt, true);
				}
			}
		});

		function isValidForm() {
			var isValid = true;
			$('.is-invalid').removeClass('is-invalid');
			$('.invalid-feedback').remove();

			var password = $('#password').val();
			if (password.length < 4 || 16 < password.length
					|| !/^[a-zA-Z0-9]+$/.test(password)) {
				$('#password').addClass('is-invalid');
				$('#grpPass').after($('<div/>', {
					'class' : 'invalid-feedback d-block',
					text : '[(#{validation.share.password})]'
				}));
				isValid = false;
			}

			var plansdt = $('#plansdt').val();
			if (plansdt.length == 0 || !checkDateFormat(plansdt)) {
				$('#plansdt').addClass('is-invalid');
				$('#plansdt').next('.flatpickr-mobile').addClass('is-invalid');
				$('#grpPlansdt').after($('<div/>', {
					'class' : 'invalid-feedback d-block',
					text : '[(#{typeMismatch.org.joda.time.LocalDate})]'
				}));
				isValid = false;
			} else {
				var seldt = moment($('#plansdt').val());
				var mindt = $('#plansdt').attr('min');
				var maxdt = $('#plansdt').attr('max');
				if (seldt.isBefore(mindt) || seldt.isAfter(maxdt)) {
					$('#plansdt').addClass('is-invalid');
					$('#plansdt').next('.flatpickr-mobile').addClass(
							'is-invalid');
					$('#grpPlansdt')
							.after(
									$(
											'<div/>',
											{
												'class' : 'invalid-feedback d-block',
												text : '[(${#messages.msg("validation.share.plansdt", __${#conversions.convert(@applicationProperties.getProperty("folder.expired.days"), "java.lang.Integer")}__ / 2)})]'
											}));
					isValid = false;
				}
			}

			var expiredt = $('#expiredt').val();
			if (expiredt.length == 0 || !checkDateFormat(expiredt)) {
				$('#expiredt').addClass('is-invalid');
				$('#expiredt').next('.flatpickr-mobile').addClass('is-invalid');
				$('#grpExpiredt').after($('<div/>', {
					'class' : 'invalid-feedback d-block',
					text : '[(#{typeMismatch.org.joda.time.LocalDate})]'
				}));
				isValid = false;
			} else {
				var seldt = moment($('#expiredt').val());
				var mindt = $('#expiredt').attr('min');
				if (seldt.isBefore(mindt)) {
					$('#expiredt').addClass('is-invalid');
					$('#expiredt').next('.flatpickr-mobile').addClass(
							'is-invalid');
					$('#grpExpiredt').after($('<div/>', {
						'class' : 'invalid-feedback d-block',
						text : '[(#{validation.vipshare.expiredt})]'
					}));
					isValid = false;
				}
			}

			return isValid;
		}

		$('#fomShare').submit(function(event) {
			if (!isValidForm()) {
				event.preventDefault();
				event.stopPropagation();
			} else {
				$('#mdlWaiting').modal('show');
			}
		});
	});
</script>
</head>
<body layout:fragment="body"
	class="pt-header d-flex align-items-start align-items-md-center">
	<header layout:insert="~{layout/parts/header::user(-1)}"
		class="fixed-top bg-header"></header>
	<th:block layout:replace="~{layout/parts/dialog::logout}" />

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div class="container bg-main pb-md-5 my-md-auto">
		<form id="fomShare" class="mw-content mx-auto py-3" novalidate
			th:action="@{/user/share}" th:object="${folderForm}" method="post"
			autocomplete="off">
			<input type="hidden" th:field="*{seq}" />
			<h4
				th:text="*{#strings.isEmpty(name)}?|#{default.folder.name}*{#numbers.formatInteger(seq,2)}|:*{name}"></h4>
			<hr>
			<div class="form-group row">
				<label for="guest" class="col-sm-4 col-form-label text-sm-right">[[#{label.share.username}]]</label>
				<div class="col-sm-8">
					<span id="guest" class="form-control readonly" th:text="*{guest}"></span>
				</div>
			</div>
			<div class="form-group row">
				<label for="grpPass" class="col-sm-4 col-form-label text-sm-right">[[#{label.share.password}]]</label>
				<div class="col-sm-8">
					<div id="grpPass" class="input-group">
						<input type="text" th:field="*{password}"
							class="form-control rounded-left" th:errorclass="is-invalid"
							maxlength="16" autofocus required />
						<div class="input-group-append">
							<button type="button" id="btnAuto"
								class="btn btn-info rounded-right">[[#{label.share.auto}]]</button>
						</div>
					</div>
					<div class="invalid-feedback d-block"
						th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password
						error</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="grpPlansdt"
					class="col-sm-4 col-form-label text-sm-right">[[#{label.share.plansdt}]]</label>
				<div class="col-sm-8">
					<div id="grpPlansdt" class="input-group">
						<input type="date" th:field="*{plansdt}"
							class="form-control rounded-left" th:errorclass="is-invalid"
							th:min="${minPlansdt}" th:max="${maxPlansdt}"
							pattern="[0-9]{4}-[0-9]{1,2}-[0-9]{1,2}" maxlength="10"
							data-input required />
						<div class="input-group-append">
							<button type="button" class="btn btn-info rounded-right"
								data-toggle>
								<i class="fas fa-calendar-alt"></i>
							</button>
						</div>
					</div>
					<div class="invalid-feedback d-block"
						th:if="${#fields.hasErrors('plansdt')}" th:errors="*{plansdt}">plansdt
						error</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="grpExpiredt"
					class="col-sm-4 col-form-label text-sm-right">[[#{label.share.expiredt}]]</label>
				<div class="col-sm-8">
					<div id="grpExpiredt" class="input-group">
						<input type="date" th:field="*{expiredt}"
							class="form-control rounded-left" th:errorclass="is-invalid"
							th:min="${minExpiredt}" pattern="[0-9]{4}-[0-9]{1,2}-[0-9]{1,2}"
							maxlength="10" data-input required />
						<div class="input-group-append">
							<button type="button" class="btn btn-info rounded-right"
								data-toggle>
								<i class="fas fa-calendar-alt"></i>
							</button>
						</div>
					</div>
					<div class="invalid-feedback d-block"
						th:if="${#fields.hasErrors('expiredt')}" th:errors="*{expiredt}">expiredt
						error</div>
				</div>
			</div>
			<div class="form-group row mb-0">
				<div class="offset-sm-4 col-sm-8">
					<button type="submit" class="btn btn-primary btn-block-xs"
						style="width: 150px;">[[#{label.share.button}]]</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>