<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<footer layout:fragment="footer"
		class="fixed-bottom bg-footer text-muted">
		<div class="container text-center">
			<ul class="list-unstyled list-inline mb-0">
				<li class="list-inline-item mr-0"><a th:href="@{/about/site}">About</a></li>
				<li class="list-inline-item mr-0">&nbsp;&nbsp;&bull;&nbsp;&nbsp;<a
					th:href="@{/about/terms}">Terms</a></li>
				<li class="list-inline-item mr-0">&nbsp;&nbsp;&bull;&nbsp;&nbsp;<a
					th:href="@{/about/privacy}">Privacy</a></li>
				<li class="list-inline-item mr-0">&nbsp;&nbsp;&bull;&nbsp;&nbsp;<a
					th:href="@{/about/security}">Security</a></li>
			</ul>
			<div>&copy; 2018-2020 Company, Inc.</div>
		</div>
	</footer>
</body>
</html>