<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<footer layout:fragment="footer"
		class="fixed-bottom bg-footer text-muted">
		<div class="container text-center">
			<ul class="list-unstyled list-inline mb-0">
				<li class="list-inline-item mr-0"><a th:href="@{/about/site}">[[#{label.footer.about}]]</a></li>
				<li class="list-inline-item mr-0">&nbsp;&nbsp;&bull;&nbsp;&nbsp;<a
					th:href="@{/about/terms}">[[#{label.footer.terms}]]</a></li>
				<li class="list-inline-item mr-0">&nbsp;&nbsp;&bull;&nbsp;&nbsp;<a
					th:href="@{/about/privacy}">[[#{label.footer.privacy}]]</a></li>
			</ul>
			<div>&copy;&nbsp;2018&nbsp;&nbsp;[[#{site.brand}]]&nbsp;&nbsp;Inc.</div>
		</div>
	</footer>
</body>
</html>