<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<nav layout:fragment="home(lang, sign)"
		class="navbar navbar-expand navbar-dark">
		<a class="navbar-brand h1 mb-0" th:href="@{/}">[[#{site.brand}]]</a>
		<div class="d-flex ml-auto">
			<form
				th:if="${lang} and ${@applicationProperties.getProperty('locale.change')}"
				id="fomLang" class="navbar-nav form-inline"
				th:action="@{/system/lang}" method="post">
				<input type="hidden" id="lang" name="lang" />
				<div class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button"
						data-toggle="dropdown">[[#{|label.lang.${#locale.language}|}]]</a>
					<div class="dropdown-menu dropdown-menu-right">
						<button class="dropdown-item" type="button"
							onclick="$('#lang').val('ja');$('#fomLang').submit();">[[#{label.lang.ja}]]</button>
						<button class="dropdown-item" type="button"
							onclick="$('#lang').val('zh');$('#fomLang').submit();">[[#{label.lang.zh}]]</button>
					</div>
				</div>
			</form>
			<a th:if="${sign}" class="btn btn-primary text-none-xs ml-3"
				th:href="@{/auth/signin}" role="button"><i class="fas fa-user"></i><span>&nbsp;[[#{label.login}]]</span></a>
		</div>
	</nav>

	<nav layout:fragment="admin(active)"
		class="navbar navbar-expand-sm navbar-dark">
		<button class="navbar-toggler p-0 border-0" type="button"
			onclick="$('#navMenu').toggleClass('open');">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand h1 mb-0" th:href="@{/admin/home}">[[#{site.brand}]]</a>
		<div class="navbar-collapse offcanvas-collapse" id="navMenu">
			<ul class="navbar-nav">
				<li class="nav-item" th:classappend="(${active} == 0)? 'active'"><a
					class="nav-link" th:href="@{/admin/home}">[[#{menu.admin.home}]]</a></li>
				<li class="nav-item" th:classappend="(${active} == 1)? 'active'"><a
					class="nav-link" href="#">[[#{menu.admin.manage}]]</a></li>
			</ul>
		</div>
		<button class="btn btn-primary text-none-xs" type="button"
			data-toggle="modal" data-target="#mdlLogout">
			<i class="fas fa-sign-out-alt"></i><span>&nbsp;[[#{label.logout}]]</span>
		</button>
	</nav>

	<nav layout:fragment="user(active)"
		class="navbar navbar-expand-sm navbar-dark">
		<button class="navbar-toggler p-0 border-0" type="button"
			onclick="$('#navMenu').toggleClass('open');">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand h1 mb-0" th:href="@{/user/home}">[[#{site.brand}]]</a>
		<div class="navbar-collapse offcanvas-collapse" id="navMenu">
			<ul class="navbar-nav">
				<li class="nav-item" th:classappend="(${active} == 0)? 'active'"><a
					class="nav-link" th:href="@{/user/home}">[[#{menu.user.home}]]</a></li>
				<li class="nav-item" th:classappend="(${active} == 1)? 'active'"><a
					class="nav-link" th:href="@{/user/plans}">[[#{menu.user.plans}]]</a></li>
				<li class="nav-item dropdown"
					th:classappend="(${active} == 2)? 'active'"><a
					class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">[[#{menu.user.account}]]</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/user/account}">[[#{menu.user.request}]]</a>
						<a class="dropdown-item" th:href="@{/user/history}">[[#{menu.user.history}]]</a>
						<a class="dropdown-item" th:href="@{/user/change}">[[#{menu.user.change}]]</a>
					</div></li>
			</ul>
		</div>
		<button class="btn btn-primary text-none-xs" type="button"
			data-toggle="modal" data-target="#mdlLogout">
			<i class="fas fa-sign-out-alt"></i><span>&nbsp;[[#{label.logout}]]</span>
		</button>
	</nav>

	<nav layout:fragment="guest(active)"
		class="navbar navbar-expand-sm navbar-dark">
		<a class="btn btn-primary d-none-sm" th:href="@{/guest/cart}"
			role="button"><i class="fas fa-shopping-cart"></i>&nbsp;<span
			class="bagCart badge badge-pill badge-danger"
			th:text="${#lists.size(cart)}"></span></a> <a
			class="navbar-brand h1 mb-0" th:href="@{/guest/home}">[[#{site.brand}]]</a>
		<div class="navbar-collapse offcanvas-collapse" id="navMenu">
			<ul class="navbar-nav">
				<li class="nav-item" th:classappend="(${active} == 0)? 'active'"><a
					class="nav-link" th:href="@{/guest/cart}">[[#{menu.guest.cart}]]&nbsp;<span
						class="bagCart badge badge-pill badge-danger"
						th:text="${#lists.size(cart)}"></span></a></li>
			</ul>
		</div>
		<button class="btn btn-primary text-none-xs" type="button"
			data-toggle="modal" data-target="#mdlLogout">
			<i class="fas fa-sign-out-alt"></i><span>&nbsp;[[#{label.logout}]]</span>
		</button>
	</nav>

	<nav layout:fragment="download"
		class="navbar navbar-expand navbar-dark">
		<a class="navbar-brand h1 mb-0" th:href="@{/}">[[#{site.brand}]]</a>
		<button sec:authorize="isAuthenticated()"
			class="btn btn-primary ml-auto text-none-xs" type="button"
			data-toggle="modal" data-target="#mdlLogout">
			<i class="fas fa-sign-out-alt"></i><span>&nbsp;[[#{label.logout}]]</span>
		</button>
	</nav>
</body>
</html>