<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>[[#{title.admin}]]</title>
<script>
	$(function() {
		$('#mdlTransfer').on('shown.bs.modal', function() {
			$('#fee').trigger('focus');
		});
		$('#fee').focus(function() {
			$(this).select();
		});

		$('#mdlTransferBtn').click(
				function() {
					$('.is-invalid').removeClass('is-invalid');
					$('.invalid-feedback').remove();

					var fee = $('#fee').val();
					if (!/^[0-9]+$/.test(fee)
							|| fee < Number($('#fee').attr('min'))
							|| fee > Number($('#fee').attr('max'))) {
						$('#grpMoney').addClass('is-invalid');
						$('#grpMoney').after($('<div/>', {
							'class' : 'invalid-feedback d-block',
							text : '[(#{validation.transfer.fee})]'
						}));
						return;
					}

					$('#mdlTransfer').modal('hide');
					$('#mdlWaiting').modal('show');
					$('#fomTransfer').submit();
				});

		$('#mdlTransfer').on('hide.bs.modal', function(e) {
			$('.is-invalid').removeClass('is-invalid');
			$('.invalid-feedback').remove();
		});
	});
</script>
</head>
<body layout:fragment="body" class="pt-header">
	<header layout:insert="~{layout/parts/header::admin(0)}"
		class="fixed-top bg-header"></header>
	<th:block layout:replace="~{layout/parts/dialog::logout}" />

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div class="container bg-main px-0">
		<div class="mw-content mx-auto pt-3 d-flex justify-content-between">
			<h2 class="mb-0 ml-3">[[#{header.profit}]]</h2>
			<h2 class="mb-0 mr-3"
				th:text="|${#numbers.formatInteger(balance,1,'COMMA')}#{money.unit}|"></h2>
		</div>
		<ul class="list-group mw-content mx-auto py-3">
			<li
				class="list-group-item rounded-0 border-left-0 border-right-0 px-0 py-2"
				th:each="form,stat : ${transfer}" th:object="${form}">
				<div class="float-left px-3">
					<div th:text="*{transno}"></div>
					<div th:text="*{bank}"></div>
					<div th:text="*{branch}"></div>
					<th:block th:switch="*{actype}">
						<div th:case="1" th:text="|#{bank.account.type1}  *{acnumber}|"></div>
						<div th:case="2" th:text="|#{bank.account.type2}  *{acnumber}|"></div>
					</th:block>
					<div th:text="*{acname}"></div>
				</div>
				<div class="float-right pr-3 text-right">
					<p class="h5"
						th:text="|*{#numbers.formatInteger(amount,1,'COMMA')}#{money.unit}|"></p>
					<button type="button" class="btn btn-info" data-toggle="modal"
						data-target="#mdlTransfer"
						th:onclick="|$('#transno').val('*{transno}');|">[[#{label.transfer.button}]]</button>
				</div>
			</li>
		</ul>
	</div>

	<button type="button" id="toTop"
		class="btn btn-primary rounded-circle nofocus">
		<i class="fas fa-angle-up fa-2x"></i>
	</button>

	<div id="mdlTransfer" class="modal fade" tabindex="-1" role="dialog"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">[[#{modal.transfer.header}]]</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="fomTransfer" th:action="@{/admin/transfer}" method="post"
						novalidate autocomplete="off">
						<input type="hidden" id="transno" name="transno" />
						<div class="form-group mb-0">
							<div id="grpMoney" class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">[[#{label.transfer.fee}]]</span>
								</div>
								<input type="number" id="fee" name="fee"
									class="form-control text-right num-only" min="0" max="999"
									pattern="[0-9]+" maxlength="3" required />
								<div class="input-group-append">
									<span class="input-group-text">[[#{money.unit}]]</span>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button id="mdlTransferBtn" type="button" class="btn btn-primary">[[#{modal.button.ok}]]</button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">[[#{modal.button.cancel}]]</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>