<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>[[#{title.admin}]]</title>
<link rel="stylesheet" th:href="@{/css/flatpickr.css}">
<script th:src="@{/js/flatpickr.min.js}"></script>
<script th:if="${#locale.language}=='ja'"
	th:src="@{/js/flatpickr.ja.js}"></script>
<script th:if="${#locale.language}=='zh'"
	th:src="@{/js/flatpickr.zh.js}"></script>
<style>
html {
	height: 100%;
}

#expiredt[readonly] {
	background-color: #fff !important;
}
</style>
<script>
	$(function() {
		flatpickr('#grpExpiredt', {
			locale : '[(${#locale.language})]',
			dateFormat : 'Y-m-d',
			allowInput : false,
			disableMobile : false,
			prevArrow : '<i class="fas fa-chevron-left"></i>',
			nextArrow : '<i class="fas fa-chevron-right"></i>',
			minDate : '[(${minExpiredt})]',
			maxDate : '[(${maxExpiredt})]',
			defaultDate : '[(${expiredt})]',
			wrap : true
		});

		function isValidForm() {
			var isValid = true;
			$('.is-invalid').removeClass('is-invalid');
			$('.invalid-feedback').remove();

			if ($('#usernm').val().length == 0) {
				$('#usernm').addClass('is-invalid');
				$('#usernm').after($('<div/>', {
					'class' : 'invalid-feedback',
					text : '[(#{error.signin.username})]'
				}));
				$('#usernm').focus();
				isValid = false;
			}

			return isValid;
		}

		$('#fomUpgrade').submit(function(event) {
			if (!isValidForm()) {
				event.preventDefault();
				event.stopPropagation();
			} else {
				$('#mdlWaiting').modal('show');
			}
		});
	});
</script>
</head>
<body layout:fragment="body"
	class="pt-header d-flex align-items-start align-items-md-center">
	<header layout:insert="~{layout/parts/header::admin(1)}"
		class="fixed-top bg-header"></header>
	<th:block layout:replace="~{layout/parts/dialog::logout}" />

	<th:block layout:replace="~{layout/parts/dialog::waiting}" />
	<div class="container bg-main pb-md-5 my-md-auto">
		<th:block layout:replace="~{layout/parts/alert::info}" />
		<th:block layout:replace="~{layout/parts/alert::error}" />
		<form id="fomUpgrade" class="mw-content mx-auto py-3" novalidate
			th:action="@{/admin/upgrade}" method="post" autocomplete="off">
			<h4>[[#{header.vip}]]</h4>
			<hr>
			<div class="form-group row">
				<label for="usernm" class="col-sm-4 col-form-label text-sm-right">[[#{label.signup.username}]]</label>
				<div class="col-sm-8">
					<input type="text" id="usernm" name="usernm" class="form-control"
						maxlength="20" autofocus required />
				</div>
			</div>
			<div class="form-group row">
				<label for="grpExpiredt"
					class="col-sm-4 col-form-label text-sm-right">[[#{label.vip.expiredt}]]</label>
				<div class="col-sm-8">
					<div id="grpExpiredt" class="input-group">
						<input type="date" id="expiredt" name="expiredt"
							class="form-control rounded-left" th:min="${minExpiredt}"
							th:max="${maxExpiredt}" pattern="[0-9]{4}-[0-9]{1,2}-[0-9]{1,2}"
							maxlength="10" data-input required />
						<div class="input-group-append">
							<button type="button" class="btn btn-info rounded-right"
								data-toggle>
								<i class="fas fa-calendar-alt"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row mb-0">
				<div class="offset-sm-4 col-sm-8">
					<button type="submit" class="btn btn-primary btn-block-xs"
						style="width: 150px;">[[#{label.vip.button}]]</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>